@font-face {
  font-family: "Noto Sans Arabic UI";
  src: url("../fonts/NotoSansArabicUI-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Noto Sans Arabic UI";
  src: url("../fonts/NotoSansArabicUI-Bold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}
.color-primary {
  color: #26A562;
}

.text-color {
  color: #3C3B3B !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.push {
  position: relative;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: 959px) {
  .md-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.object-fit-cover {
  object-fit: cover;
  object-position: center center;
  font-family: "object-fit: cover; object-position: center center;";
}

.object-fit-contain {
  object-fit: contain;
  object-position: center center;
  font-family: "object-fit: contain; object-position: center center;";
}

.text-center {
  text-align: center;
}

.flex-auto {
  flex: auto;
}

.text-uppercase {
  text-transform: uppercase;
}

.nowrap {
  white-space: nowrap;
}

.lg-visible, .lg-visible-flex {
  display: none !important;
}

@media screen and (max-width: 1329px) {
  .lg-hidden {
    display: none !important;
  }

  .lg-visible {
    display: block !important;
  }

  .lg-visible-flex {
    display: flex !important;
  }
}
.md-visible, .md-visible-flex {
  display: none !important;
}

@media screen and (max-width: 991px) {
  .md-hidden {
    display: none !important;
  }

  .md-visible {
    display: block !important;
  }

  .md-visible-flex {
    display: flex !important;
  }
}
.sm-visible, .sm-visible-flex {
  display: none !important;
}

@media screen and (max-width: 767px) {
  .sm-hidden {
    display: none !important;
  }

  .sm-visible {
    display: block !important;
  }

  .sm-visible-flex {
    display: flex !important;
  }
}
.xs-visible, .xs-visible-flex, .xs-visible-inline {
  display: none !important;
}

@media screen and (max-width: 575px) {
  .xs-hidden {
    display: none !important;
  }

  .xs-visible {
    display: block !important;
  }

  .xs-visible-flex {
    display: flex !important;
  }

  .xs-visible-inline {
    display: inline !important;
  }
}
.sub-xs-visible, .sub-xs-visible-flex {
  display: none !important;
}

@media screen and (max-width: 575px) {
  .sub-xs-hidden {
    display: none !important;
  }

  .sub-xs-visible {
    display: block !important;
  }

  .sub-xs-visible-flex {
    display: flex !important;
  }
}
@media screen and (max-width: 575px) {
  .xs-flex-right {
    margin-left: auto;
  }
}
a[href^=tel] {
  white-space: nowrap;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background: #fff;
  background-attachment: fixed;
}
body.how-we-work-page {
  background-attachment: scroll;
  background-size: 100% 100vh;
  background-position: center top;
}
body.overflow {
  overflow: hidden;
}
body.modal-visible {
  overflow: hidden;
  height: 100vh;
}
body img {
  max-width: unset;
}

ul, ol {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  font-family: inherit;
  box-shadow: none;
  border-radius: 0;
}

a, button {
  text-decoration: none;
  transition: all 0.3s;
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

picture, iframe, figure {
  display: block;
}

.wrapper {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 8.5938vw;
}
.wrapper .page-content {
  flex: auto;
  position: relative;
  z-index: 5;
}
.wrapper .footer {
  flex: none;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 565px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    padding: 0;
    max-width: 85.4167vw;
  }
}

.cards-list {
  display: grid;
  grid-gap: 0.8333vw;
}
.cards-list.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.cards-list.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}
.cards-list.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}
.cards-list.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.cards-list.columns-6 {
  grid-template-columns: repeat(6, 1fr);
}
@media screen and (max-width: 1199px) {
  .cards-list.lg-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-list.lg-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-list.lg-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards-list.lg-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 991px) {
  .cards-list.md-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-list.md-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-list.md-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .cards-list.md-columns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .cards-list.sm-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-list.sm-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-list.sm-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .cards-list.xs-columns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .cards-list.xs-columns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .cards-list.xs-columns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  color: #3C3B3B;
  font-weight: 300;
  font-size: 1.3542vw;
  line-height: 1.308;
}
html[dir=rtl] body {
  font-family: "Tanseek", "Roboto", Arial, sans-serif;
}

.tpg p {
  margin-bottom: 1.308em;
  font-size: 1.3542vw;
  line-height: 1.308;
}
.tpg p:last-child {
  margin-bottom: 0;
}
.tpg ul {
  margin-bottom: 1.308em;
}
.tpg ul:last-child {
  margin-bottom: 0;
}
.tpg ul li:before {
  content: "";
  display: inline-block;
  width: 0.5556vw;
  height: 0.5556vw;
  background: #26A562;
  border-radius: 50%;
  margin-right: 0.3472vw;
}

.section-caption {
  margin-bottom: 1.5625vw;
}
.section-caption:last-child {
  margin-bottom: 0;
}
.section-caption .sc-title {
  font-size: 2.5vw;
  line-height: 1.3125;
  color: #26A562;
}
.section-caption .sc-title.text-color {
  color: #3C3B3B;
}
.section-caption .sc-title.uppercase {
  text-transform: uppercase;
}
.section-caption .sc-subtitle {
  margin-top: 1.25vw;
  font-size: 1.4583vw;
  line-height: 1.428;
  text-transform: uppercase;
  color: #26A562;
  font-weight: bold;
}
.section-caption .sc-subtitle.text-color {
  color: #3C3B3B;
}
.section-caption .sc-subtitle.no-uppercase {
  text-transform: none;
}

.page-caption {
  font-size: 3.3333vw;
  line-height: 1.3125;
}

.read-more-link {
  position: relative;
  display: inline-flex;
  color: #FDB22A;
}
.read-more-link .link-text {
  font-size: 1.0417vw;
  font-weight: 500;
  transition: all 0.3s;
  opacity: 0;
}
.read-more-link .link-icon {
  width: 3.3333vw;
  height: 1.0938vw;
  fill: currentcolor;
  transition: all 0.3s;
  position: absolute;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
html[dir=ltr] .read-more-link .link-icon {
  left: 0;
}
html[dir=rtl] .read-more-link .link-icon {
  right: 0;
  transform: scaleX(-1) translateY(-50%);
}
.read-more-link:hover .link-text, .read-more-link:focus .link-text {
  opacity: 1;
}
html[dir=ltr] .read-more-link:hover .link-icon, html[dir=ltr] .read-more-link:focus .link-icon {
  left: calc(100% + 0.7813vw);
}
html[dir=rtl] .read-more-link:hover .link-icon, html[dir=rtl] .read-more-link:focus .link-icon {
  right: calc(100% + 0.7813vw);
}

.no-transform {
  text-transform: none;
}

.block-pdf {
  display: inline-flex;
  align-items: center;
}
.block-pdf:before {
  width: 1.9792vw;
  height: 2.2917vw;
  background: url(http://wwwimages.adobe.com/content/dam/acom/en/legal/images/badges/Adobe_PDF_file_icon_32x32.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  content: " ";
}
html[dir=ltr] .block-pdf .read-more-link {
  margin-left: 1.875vw;
}
html[dir=rtl] .block-pdf .read-more-link {
  margin-right: 1.875vw;
}

[class^=icon-], [class*=" icon-"] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.icon-phone-white {
  background: url(../img/icons/phone-white.png);
  width: 9px;
  height: 9px;
}

.icon-location-white {
  background: url(../img/icons/location-white.png);
  width: 7px;
  height: 11px;
}

.icon-clock-white {
  background: url(../img/icons/clock-white.png);
  width: 9px;
  height: 9px;
}

.header {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
}
.header .header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% + 0.7813vw * 2);
  margin-left: -0.7813vw;
  margin-right: -0.7813vw;
}
.header .header-inner .header-block {
  padding: 0 0.7813vw;
}
.header .header-row.first {
  padding: 0.8333vw 0;
  background: #3C3B3B;
}
.header .header-row.first .header-inner {
  justify-content: flex-end;
}
.header .header-row.second {
  padding: 1.3021vw 0;
  min-height: 5.2083vw;
  display: flex;
  align-items: center;
}
.header.sticky {
  box-shadow: 0 0 0.2083vw rgba(0, 0, 0, 0.3);
}

.logo-block {
  display: block;
}
.logo-block img {
  height: 2.8646vw;
  width: auto;
  display: block;
}

.top-nav {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-gap: 1.5625vw;
  align-items: center;
}
.top-nav > ul {
  font-size: 1.25vw;
  line-height: 1.33;
  font-weight: bold;
  display: flex;
}
.top-nav > ul > li:after {
  content: "|";
  color: #26A562;
}
.top-nav > ul > li > a {
  padding: 0 1.5625vw;
  color: #3C3B3B;
}
.top-nav > ul > li > a:hover, .top-nav > ul > li > a:focus {
  color: #26A562;
}
.top-nav > ul > li.current-menu-item > a, .top-nav > ul > li.current-menu-parent > a {
  color: #26A562;
}
.top-nav > ul > li.current-menu-item > a {
  cursor: default;
}

.language-select {
  position: relative;
  font-size: 1.25vw;
  line-height: 1.33;
  font-weight: bold;
  text-transform: uppercase;
}
.language-select .select-opener {
  display: grid;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  grid-gap: 0.625vw;
  font-size: inherit;
  font-weight: inherit;
  transition: all 0.3s;
  align-items: center;
  color: inherit;
}
.language-select .select-opener:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.4167vw 0.4167vw 0 0.4167vw;
  border-color: #26A562 transparent transparent transparent;
}
.language-select .select-opener:hover, .language-select .select-opener:focus {
  color: #26A562;
}
.language-select .languages-list {
  transition: all 0.3s;
  transform: translateY(1.5625vw);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: calc(100% + 0.8333vw * 2);
  left: -0.8333vw;
  top: calc(100% + 0.4167vw);
  padding: 0.8333vw;
  background: #fff;
  border-radius: 0.3125vw;
  box-shadow: 0 0 0.2083vw rgba(0, 0, 0, 0.3);
  text-align: center;
}
.language-select .languages-list:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.5208vw;
  left: 0;
  top: -0.4688vw;
  position: absolute;
}
.language-select .languages-list li {
  margin-bottom: 0.4167vw;
}
.language-select .languages-list li:last-child {
  margin-bottom: 0;
}
.language-select .languages-list a {
  color: inherit;
}
.language-select .languages-list a:hover, .language-select .languages-list a:focus {
  color: #26A562;
}
.language-select:hover .languages-list, .language-select:focus-within .languages-list {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.footer {
  background: #3C3B3B;
  color: #fff;
}
.footer .footer-row.first {
  padding: 4.6875vw 0 2.3438vw;
}
.footer .footer-row.second {
  padding: 2.3438vw 0;
}
.footer .footer-inner {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 1.0417vw * 2);
  margin-left: -1.0417vw;
  margin-right: -1.0417vw;
}
.footer .footer-inner .footer-block {
  padding: 0 1.0417vw;
}

.footer-logo {
  max-width: 22.1354vw;
}
.footer-logo p {
  margin-top: 0.8333vw;
  font-size: 1.0417vw;
  line-height: 1.4;
}
html[dir=ltr] .footer-logo p {
  padding-left: 2.5521vw;
}
html[dir=rtl] .footer-logo p {
  padding-right: 2.5521vw;
}
.footer-logo p a {
  color: inherit;
}
.footer-logo p a:hover, .footer-logo p a:focus {
  color: #FDB22A;
}

.footer-nav-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6.25vw;
}

.footer-caption {
  font-size: 1.25vw;
  line-height: 1.2;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.7813vw;
}

.footer-nav li {
  margin-bottom: 0.7813vw;
  font-size: 1.25vw;
  line-height: 1.2;
}
.footer-nav li a {
  color: inherit;
}
.footer-nav li a:hover, .footer-nav li a:focus {
  color: #FDB22A;
}

.copyright,
.creator {
  font-size: 1.0417vw;
  line-height: 1.2;
}
.copyright a,
.creator a {
  color: inherit;
}
.copyright a:hover, .copyright a:focus,
.creator a:hover,
.creator a:focus {
  color: #FDB22A;
}

.footer-2 {
  font-size: 1.0417vw;
  line-height: 1.4;
  min-height: 22.2917vw;
  background: #3C3B3B;
  color: #fff;
  padding-top: 4.6875vw;
}
.footer-2 a {
  color: inherit;
}
.footer-2 .footer-block {
  display: flex;
  align-items: center;
}
.footer-2 .footer-logo {
  display: flex;
  max-width: initial;
}
.footer-2 .footer-row.first {
  padding-bottom: 0;
}
.footer-2 .footer-row.second {
  padding-top: 1.5625vw;
}
html[dir=ltr] .footer-2 .copyright {
  margin-left: 2.5521vw;
}
html[dir=rtl] .footer-2 .copyright {
  margin-right: 2.5521vw;
}
.footer-2 .footer-inner {
  display: flex;
  justify-content: space-between;
  width: calc(100% + 1.0417vw * 2);
  margin-left: -1.0417vw;
  margin-right: -1.0417vw;
}
.footer-2 .footer-inner .footer-block {
  padding: 0 1.0417vw;
}

.btn {
  font-weight: 700;
  text-align: center;
  padding: 0.6944vw 1.6667vw;
  min-height: 3.4375vw;
  border-radius: 0;
  font-size: 1.6667vw;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  white-space: nowrap;
  border: 0;
  color: #3C3B3B;
  border: 2px solid #3C3B3B;
  background: transparent;
}
.btn:hover, .btn:focus {
  background: #3C3B3B;
  color: #fff;
  outline: none;
}
.btn .btn-icon {
  width: 1.3889vw;
  height: 1.3889vw;
  flex: none;
  display: block;
  fill: currentcolor;
}
.btn .btn-icon:first-child {
  margin-right: 0.5556vw;
}
.btn .btn-icon:last-child {
  margin-left: 0.5556vw;
}
html[dir=rtl] .btn .btn-icon.rtl-reverse {
  transform: scaleX(-1);
}
html[dir=rtl] .btn .btn-icon:first-child {
  margin-right: 0;
  margin-left: 0.5556vw;
}
html[dir=rtl] .btn .btn-icon:last-child {
  margin-left: 0;
  margin-right: 0.5556vw;
}
.btn.btn-light {
  background: transparent;
  color: #fff;
  font-weight: 500;
  box-shadow: none;
  border: 2px solid #5B422C;
}
.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light.active {
  background: #5B422C;
}
.btn.btn-light.no-border {
  border: 0;
  color: #5B422C;
}
.btn.btn-light.no-border:hover, .btn.btn-light.no-border:focus {
  background: transparent;
  color: #fff;
}
.btn.w-btn {
  max-width: 15.1042vw;
  width: 100%;
}
.btn.btn-green {
  background: transparent;
  color: #fff;
  background: #26A562;
  font-weight: 500;
  box-shadow: none;
  border: 2px solid transparent;
}
.btn.btn-green:hover, .btn.btn-green:focus, .btn.btn-green.active {
  background: #5B422C;
}
.btn.btn-green.no-border {
  border: 0;
  color: #5B422C;
}
.btn.btn-green.no-border:hover, .btn.btn-green.no-border:focus {
  background: transparent;
  color: #fff;
}
.btn.fullwidth {
  width: 100%;
}
@media screen and (max-width: 991px) {
  .btn {
    min-height: 48px;
    border-radius: 24px;
    padding: 8px 24px;
  }
  .btn .btn-icon {
    width: 20px;
    height: 20px;
  }
  .btn .btn-icon:first-child {
    margin-right: 8px;
  }
  .btn .btn-icon:last-child {
    margin-left: 8px;
  }
  html[dir=rtl] .btn .btn-icon.rtl-reverse {
    transform: scaleX(-1);
  }
  html[dir=rtl] .btn .btn-icon:first-child {
    margin-right: 0;
    margin-left: 8px;
  }
  html[dir=rtl] .btn .btn-icon:last-child {
    margin-left: 0;
    margin-right: 8px;
  }
}

.form .input-field,
.form textarea,
.form .select-field select {
  border: 0;
  border-bottom: 2px solid #000;
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
  flex: auto;
  height: 3.4375vw;
  font-size: 1.4583vw;
  font-weight: bold;
  color: #3C3B3B;
  font-family: inherit;
  padding: 0;
  outline: none !important;
  transition: all 0.3s;
  width: 100%;
  box-shadow: none;
}
.form .input-field::placeholder,
.form textarea::placeholder,
.form .select-field select::placeholder {
  opacity: 1;
  color: #3C3B3B;
}
.form .input-field:focus,
.form textarea:focus,
.form .select-field select:focus {
  border-color: #26A562;
}
.form .select-field {
  position: relative;
}
.form .select-field select {
  border: 2px solid #3C3B3B;
  height: 3.125vw;
  padding: 0 0.625vw;
}
.form .select-field:after {
  content: "";
  display: block;
  width: 1.1979vw;
  height: 0.625vw;
  background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 8'%3E%3Cpath d='M11 1.17a1 1 0 00-1.41 0L6 4.71 2.46 1.17a1 1 0 10-1.41 1.42l4.24 4.24a1 1 0 001.42 0L11 2.59a1 1 0 000-1.42z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center/contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
html[dir=ltr] .form .select-field:after {
  right: 0.9722vw;
}
html[dir=rtl] .form .select-field:after {
  left: 0.9722vw;
}
@media screen and (max-width: 1199px) {
  .form .select-field:after {
    width: 12px;
    height: 12px;
  }
  html[dir=ltr] .form .select-field:after {
    right: 14px;
  }
  html[dir=rtl] .form .select-field:after {
    left: 14px;
  }
}
.form .select-field option {
  background: #310000;
}

.contact-form.form input, .contact-form.form textarea {
  padding: 0 0.625vw;
}
.contact-form.form .form-field + .form-field {
  margin-top: 2.0833vw;
}
.contact-form.form .form-textarea textarea {
  margin-top: 0;
  resize: none;
  padding-bottom: 0.5208vw;
  border: 0.1042vw solid #3C3B3B;
  height: auto;
  min-height: 11.0938vw;
}
.contact-form.form .form-submit {
  margin-right: auto;
  margin-top: 2.6042vw;
}
.contact-form.form .form-submit input, .contact-form.form .form-submit button {
  cursor: pointer;
  padding-bottom: 0;
  padding-top: 0;
  min-height: 3.4375vw;
  font-size: 1.6667vw;
}
.contact-form.form .form-radio-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.625vw;
  margin-top: 2.0833vw;
}
.contact-form.form .form-radio-box .text {
  font-size: 1.3542vw;
  line-height: 1;
  font-weight: bold;
  color: #3C3B3B;
  font-family: inherit;
  margin-bottom: 2.3625vw;
  display: block;
  width: 100%;
}
.contact-form.form .form-radio-box .text, .contact-form.form .form-radio-box .form-radio-item {
  padding: 0 0.625vw;
}
.contact-form.form .form-radio-box .form-radio-item {
  display: flex;
  align-items: center;
}
.contact-form.form .form-radio-box .radio {
  padding: 0 0.625vw;
  cursor: pointer;
  position: relative;
}
.contact-form.form .form-radio-box .radio input[type=radio] {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.0521vw;
  height: 0.0521vw;
  margin: -0.0521vw;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.contact-form.form .form-radio-box .radio input[type=radio]:focus + span {
  text-decoration: underline;
}
.contact-form.form .form-radio-box .radio input[type=radio] + span {
  font-size: 1.3542vw;
  line-height: 1;
  vertical-align: text-top;
  top: -0.4167vw;
}
.contact-form.form .form-radio-box .radio input[type=radio] + span:before {
  content: "";
  border-radius: 0;
}
.contact-form.form .form-radio-box .radio input[type=radio] + span:before {
  display: block;
  position: relative;
  background: transparent;
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.1563vw solid #3C3B3B;
  border-radius: 50%;
  top: -0.3125vw;
}
html[dir=ltr] .contact-form.form .form-radio-box .radio input[type=radio] + span:before {
  left: 0;
}
html[dir=rtl] .contact-form.form .form-radio-box .radio input[type=radio] + span:before {
  right: 0;
}
.contact-form.form .form-radio-box .radio input[type=radio]:checked + span:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background: #3C3B3B;
  width: 0.7292vw;
  height: 0.7292vw;
  border-radius: 50%;
  top: 0.1042vw;
}
html[dir=ltr] .contact-form.form .form-radio-box .radio input[type=radio]:checked + span:after {
  left: 0.4167vw;
}
html[dir=rtl] .contact-form.form .form-radio-box .radio input[type=radio]:checked + span:after {
  right: 0.4167vw;
}
.contact-form.form .form-radio-box .fake-label {
  display: flex;
  position: relative;
}
.contact-form.form .form-radio-box .fake-label:before {
  content: "";
  border-radius: 0;
  display: block;
  position: relative;
  top: 0;
  right: 0;
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.1563vw solid #3C3B3B;
  border-radius: 50%;
  margin-right: 0.7813vw;
}
.contact-form.form .form-radio-box .fake-label sup {
  font-size: 1vw;
  line-height: 1;
}
.contact-form.form .form-col {
  margin-top: 2.0833vw;
}
.contact-form.form .form-col .form-label {
  font-size: 1.3542vw;
  line-height: 1;
  font-weight: bold;
  color: #3C3B3B;
  font-family: inherit;
}
.contact-form.form .form-col .form-textarea textarea {
  margin-top: 1.5625vw;
}
.contact-form.form .form__checkbox {
  margin-top: 2.0833vw;
}

.form__checkbox {
  /* custom checkbox styling for contact form 7 checkbox */
}
.form__checkbox input[type=radio]:checked + .fake-label > .fake-checkbox:after {
  content: "";
  background-color: #3C3B3B;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 0.625vw;
  height: 0.625vw;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form__checkbox .fake-label .fake-checkbox {
  position: relative;
}
.form__checkbox .fake-label .fake-checkbox:before {
  content: "";
  display: block;
  position: relative;
  top: 0;
  right: 0;
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.1563vw solid #3C3B3B;
  border-radius: 50%;
}
.form__checkbox .wpcf7-checkbox label {
  position: relative;
  cursor: pointer;
  align-items: center;
  display: flex;
  height: 0.7813vw;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox] {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.0521vw;
  height: 0.0521vw;
  margin: -0.0521vw;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox]:focus + span {
  text-decoration: underline;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox] + span {
  font-size: 1.3542vw;
  line-height: 1;
  vertical-align: text-top;
  top: -0.4167vw;
}
html[dir=ltr] .form__checkbox .wpcf7-checkbox input[type=checkbox] + span {
  margin-left: 2.6042vw;
}
html[dir=rtl] .form__checkbox .wpcf7-checkbox input[type=checkbox] + span {
  margin-right: 2.6042vw;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox] + span:before {
  content: "";
  border-radius: 0;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  background: transparent;
  height: 1.5625vw;
  width: 1.5625vw;
  border: 0.1563vw solid #3C3B3B;
  border-radius: 50%;
  top: -0.3125vw;
}
html[dir=ltr] .form__checkbox .wpcf7-checkbox input[type=checkbox] + span:before {
  left: 0;
}
html[dir=rtl] .form__checkbox .wpcf7-checkbox input[type=checkbox] + span:before {
  right: 0;
}
.form__checkbox .wpcf7-checkbox input[type=checkbox]:checked + span:after {
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  background: #3C3B3B;
  width: 0.7292vw;
  height: 0.7292vw;
  border-radius: 50%;
  top: 0.1042vw;
}
html[dir=ltr] .form__checkbox .wpcf7-checkbox input[type=checkbox]:checked + span:after {
  left: 0.4167vw;
}
html[dir=rtl] .form__checkbox .wpcf7-checkbox input[type=checkbox]:checked + span:after {
  right: 0.4167vw;
}
@media screen and (max-width: 768px) {
  .form__checkbox {
    /* custom checkbox styling for contact form 7 checkbox */
  }
}

.slick-slider .slick-slide {
  outline: none !important;
}
.slick-slider img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slick-arrow {
  height: 50px;
  width: 50px;
  z-index: 20;
  background: transparent;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #657991;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(70, 92, 121, 0.2);
}
.slick-arrow svg {
  width: 10px;
  height: 16px;
  display: block;
  transition: all 0.3s;
  fill: #fff;
}
.slick-arrow:before {
  content: "";
  display: block;
}
.slick-arrow:hover, .slick-arrow:focus {
  background: #fff;
  box-shadow: 0px 2px 10px rgba(78, 127, 222, 0.2);
}
.slick-arrow:hover svg, .slick-arrow:focus svg {
  fill: #26A562;
}
.slick-arrow.slick-prev {
  left: -55px;
}
.slick-arrow.slick-next {
  right: -55px;
}
.slick-arrow.slick-disabled {
  opacity: 0;
  visibility: hidden;
}
@media screen and (max-width: 767px) {
  .slick-arrow {
    width: 28px;
    height: 28px;
  }
  .slick-arrow svg {
    width: 6px;
    height: 9px;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slick-dots {
  bottom: -30px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  margin: 0 3px;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-dots li button {
  width: 8px;
  height: 8px;
  background: #26A562;
  padding: 0;
  opacity: 1;
  transition: all 0.3s;
  border-radius: 50%;
  border: 2px solid #26A562;
}
.slick-dots li button:before {
  display: none;
}
.slick-dots li button:hover {
  opacity: 1;
}
.slick-dots li.slick-active button {
  opacity: 1;
  width: 10px;
  height: 10px;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .default-slider-wrapper {
    padding: 0 65px;
  }
  .default-slider-wrapper .slick-slider {
    width: calc(100% + 10px * 2);
    margin: -10px;
  }
  .default-slider-wrapper .slick-slider .slide {
    padding: 10px;
  }
}
@media screen and (max-width: 767px) {
  .default-slider-wrapper {
    padding-bottom: 48px;
  }
  .default-slider-wrapper .slick-slider {
    width: calc(100% + 8px * 2);
    margin: -8px;
  }
  .default-slider-wrapper .slick-slider .slick-slide {
    padding: 8px;
  }
  .default-slider-wrapper .slick-slider .slick-arrow {
    transform: translateY(0);
    top: calc(100% + 20px);
  }
  .default-slider-wrapper .slick-slider .slick-arrow.slick-prev {
    left: 8px;
  }
  .default-slider-wrapper .slick-slider .slick-arrow.slick-next {
    right: 8px;
  }
}

.modal {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.28);
  overflow-y: auto;
  overscroll-behavior-y: contain;
  z-index: 999;
  visibility: hidden;
  transition: visibility 0.4s, opacity 0.4s;
  cursor: pointer;
  opacity: 0;
}
.modal .modal-dialog {
  width: calc(100% - 15px * 2);
  max-width: 1170px;
  margin: 60px auto;
  cursor: default;
  flex: none;
  position: relative;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  transition-delay: 0.2s;
}
.modal.visible {
  visibility: visible;
  opacity: 1;
}
.modal.visible .modal-dialog {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.modal.video-modal .modal-dialog {
  width: auto;
  max-width: 70vw;
}
@media screen and (max-width: 991px) {
  .modal.video-modal .modal-dialog {
    max-width: 90vw;
  }
}
.modal.video-modal .modal-content {
  background: transparent;
  padding: 0;
}
.modal.video-modal .modal-video {
  width: 100%;
  position: relative;
}
.modal.video-modal .modal-video:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.modal.video-modal .modal-video iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  border: 0;
}
.modal.video-modal .modal-video.vimeo:before {
  padding-top: 52%;
}
.modal .modal-content {
  background: #fff;
  border-radius: 0;
  position: relative;
  padding: 60px 100px;
}
.modal .modal-text {
  text-align: center;
}
.modal.small .modal-dialog {
  max-width: 420px;
}
.modal.small .modal-content {
  padding: 40px 50px 50px;
}
@media screen and (max-width: 575px) {
  .modal.small .modal-content {
    padding: 40px 30px 50px;
  }
}
@media screen and (max-width: 1229px) {
  .modal .modal-content {
    padding: 40px 30px;
  }
}
@media screen and (max-width: 575px) {
  .modal .modal-content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 44px;
  height: 44px;
  opacity: 1;
  transition: all 0.3s;
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
}
.modal-close:before, .modal-close:after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  background: #000;
  position: absolute;
  left: calc(50% - 20px / 2);
  top: calc(50% - 2px / 2);
  transition: all 0.3s;
  border-radius: 1px;
}
.modal-close:before {
  transform: rotate(-45deg);
}
.modal-close:after {
  transform: rotate(45deg);
}
.modal-close:hover:before, .modal-close:hover:after {
  background: #26A562;
}
.video-modal .modal-close {
  left: 100%;
  top: -14px;
  right: auto;
}
.video-modal .modal-close:before, .video-modal .modal-close:after {
  background: #fff;
}
.video-modal .modal-close:hover:before, .video-modal .modal-close:hover:after {
  background: #26A562;
}

.modal-caption {
  font-size: 1.4583vw;
  line-height: 1.428;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

.menu-opener {
  display: flex;
  flex-direction: column;
  width: 26px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  position: relative;
}
.menu-opener:before {
  content: "";
  display: block;
  width: calc(100% + 10px * 2);
  height: calc(100% + 10px * 2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.menu-opener .bar {
  background: rgba(255, 255, 255, 0.5);
  height: 2px;
  display: block;
  margin-bottom: 2px;
  transition: all 0.3s;
  width: 20px;
}
.menu-opener .bar:last-child {
  margin-bottom: 0;
  display: none;
}
.menu-opener .bar:nth-child(2) {
  position: relative;
  margin-bottom: 0;
}
.menu-opener .bar:nth-child(2):before {
  transition: transform 0.3s, opacity 0.3s;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center center;
  border-radius: inherit;
  opacity: 0;
}
.menu-opener:hover .bar, .menu-opener:focus .bar {
  background: #26A562;
}
.menu-opener.active .bar:last-child, .menu-opener.active .bar:first-child {
  opacity: 0;
}
.menu-opener.active .bar:first-child {
  transform: translateY(-15px);
}
.menu-opener.active .bar:last-child {
  transform: translateY(15px);
}
.menu-opener.active .bar:nth-child(2) {
  position: relative;
  transform: rotate(-45deg);
}
.menu-opener.active .bar:nth-child(2):before {
  transform: rotate(90deg);
  opacity: 1;
}
.menu-opener:focus {
  outline: none;
}

.socials-component {
  display: grid;
  grid-template-columns: -webkit-min-content -webkit-min-content;
  grid-template-columns: min-content min-content;
  grid-gap: 0.7292vw;
  white-space: nowrap;
  color: #fff;
}
.socials-component p {
  font-size: 1.25vw;
  font-weight: bold;
}

.socials-list {
  display: flex;
}
html[dir=ltr] .socials-list li {
  margin-right: 0.625vw;
}
html[dir=ltr] .socials-list li:last-child {
  margin-right: 0;
}
html[dir=rtl] .socials-list li {
  margin-left: 0.625vw;
}
html[dir=rtl] .socials-list li:last-child {
  margin-left: 0;
}
.socials-list li a {
  width: 1.6667vw;
  height: 1.6667vw;
  display: block;
  color: #fff;
}
.socials-list li a svg {
  width: 100%;
  height: 100%;
  fill: currentcolor;
  display: block;
}
.socials-list li a:hover, .socials-list li a:focus {
  color: #26A562;
}
.socials-list.green-icons li a {
  color: #26A562;
}
.socials-list.green-icons li a:hover, .socials-list.green-icons li a:focus {
  color: #3C3B3B;
}
.socials-list.text-color li a {
  color: #3C3B3B;
}
.socials-list.text-color li a:hover, .socials-list.text-color li a:focus {
  color: #26A562;
}

.big-video-block {
  height: calc(100vh - 8.5938vw);
  position: relative;
}
.big-video-block .block-video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.big-video-block .block-video-container iframe,
.big-video-block .block-video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}
.big-video-block .block-content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  transition: all 0.3s;
  padding: 6.5104vw 0;
}
.big-video-block .block-content .page-caption {
  color: #fff;
  max-width: 26.0417vw;
  position: relative;
  z-index: 3;
}
.big-video-block .block-content .section-caption {
  position: relative;
  z-index: 3;
}
.big-video-block .block-content .section-caption .sc-subtitle, .big-video-block .block-content .section-caption .sc-title {
  color: #fff;
}
.big-video-block .block-content .section-caption .sc-subtitle {
  text-transform: none;
}
.big-video-block .block-content .block-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}
.big-video-block .block-content .play-btn {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.split-screen-block {
  display: flex;
  height: calc(100vh - 8.5938vw);
  min-height: 600px;
}
.split-screen-block .block-content {
  width: 50%;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7.2917vw;
}
.split-screen-block .block-image {
  position: relative;
  width: 50%;
  background: #eee;
}
.split-screen-block .block-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}
.split-screen-block .block-footer {
  margin-top: 2.5vw;
}
html[dir=ltr] .split-screen-block:nth-child(odd) .block-content {
  padding-right: 4.1667vw;
}
html[dir=rtl] .split-screen-block:nth-child(odd) .block-content {
  padding-left: 4.1667vw;
}
.split-screen-block:nth-child(even) .block-content {
  order: 2;
}
html[dir=ltr] .split-screen-block:nth-child(even) .block-content {
  padding-left: 4.1667vw;
}
html[dir=rtl] .split-screen-block:nth-child(even) .block-content {
  padding-right: 4.1667vw;
}

.why-we-section {
  padding: 5.7292vw 0;
}
.why-we-section .section-caption {
  max-width: 63.5417vw;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5.2083vw 2.0833vw;
}

.feature-card {
  display: grid;
  grid-template-columns: 4.4792vw 1fr;
  grid-gap: 1.5625vw;
}
.feature-card .card-content {
  padding-top: 1.0417vw;
  font-weight: 300;
}
.feature-card .card-caption {
  font-size: 1.3542vw;
  line-height: 1.308;
  color: #000;
  font-weight: bold;
}
.feature-card .card-icon {
  background: #eee;
}
.feature-card .card-icon img {
  display: block;
  max-width: 100%;
  height: auto;
}

.newsletter-section {
  background: #F8F8F8;
  padding: 5.2083vw 0 6.7708vw;
}
.newsletter-section .section-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5.2083vw 0;
}
.newsletter-section .socials-component {
  justify-self: end;
}
.newsletter-section .section-caption {
  margin-bottom: 0;
}
.newsletter-section .block-text {
  font-weight: 300;
}
.newsletter-section .newsletter-form {
  grid-column: 1/-1;
}
.newsletter-section .socials-component {
  grid-gap: 2.0833vw;
}
.newsletter-section .socials-component p {
  font-weight: 400;
}

.newsletter-form .form-inner {
  display: grid;
  grid-template-columns: 1fr 7.2917vw;
  grid-gap: 4.4792vw;
}
.newsletter-form .form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.3438vw;
}
.newsletter-form .btn {
  width: 100%;
}

.blocks-text-section {
  padding: 5.2083vw 0;
}
.blocks-text-section .section-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.6042vw 7.5521vw;
}

.about-info-section .big-screen-block {
  background-color: #E9F2F0;
  display: flex;
  height: calc(100vh - 8.5938vw);
  min-height: 600px;
}
.about-info-section .big-screen-block .block-content {
  width: 50%;
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.3438vw;
  padding: 50px 0;
}
.about-info-section .big-screen-block .block-image {
  position: relative;
  width: 50%;
  background: #eee;
}
.about-info-section .big-screen-block .block-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}
.about-info-section .big-screen-block .block-text ul li {
  position: relative;
}
.about-info-section .big-screen-block .block-text ul li::before {
  content: "";
  position: absolute;
  width: 0.4167vw;
  height: 0.4167vw;
  background: #3C3B3B;
  top: 0.2604vw;
  border-radius: 50%;
}
html[dir=ltr] .about-info-section .big-screen-block .block-text ul li {
  padding-left: 1.1458vw;
}
html[dir=ltr] .about-info-section .big-screen-block .block-text ul li::before {
  left: 0;
}
html[dir=rtl] .about-info-section .big-screen-block .block-text ul li {
  padding-right: 1.1458vw;
}
html[dir=rtl] .about-info-section .big-screen-block .block-text ul li::before {
  right: 0;
}
.about-info-section .big-screen-block .block-footer {
  margin-top: 2.5vw;
}
html[dir=ltr] .about-info-section .big-screen-block:nth-child(odd) .block-content {
  padding-right: 7.2917vw;
  padding-left: 2.3438vw;
}
html[dir=rtl] .about-info-section .big-screen-block:nth-child(odd) .block-content {
  padding-left: 7.2917vw;
  padding-right: 2.3438vw;
}
.about-info-section .big-screen-block:nth-child(even) .block-content {
  order: -1;
}
html[dir=ltr] .about-info-section .big-screen-block:nth-child(even) .block-content {
  padding-left: 7.2917vw;
  padding-right: 2.3438vw;
}
html[dir=rtl] .about-info-section .big-screen-block:nth-child(even) .block-content {
  padding-right: 7.2917vw;
  padding-left: 2.3438vw;
}

.map-img-section .block-text {
  text-align: center;
  margin-bottom: 4.6875vw;
  padding-top: 7.5521vw;
}
.map-img-section .block-image {
  padding-bottom: 9.375vw;
}
.map-img-section .block-image img {
  width: 100%;
  height: auto;
  display: block;
}
.map-img-section .section-caption {
  margin-top: 1.0417vw;
  margin-bottom: 2.0833vw;
}
html[dir=ltr] .map-img-section .section-caption {
  text-align: left;
}
html[dir=rtl] .map-img-section .section-caption {
  text-align: right;
}
.map-img-section .section-caption .sc-subtitle {
  margin-top: 0.25vw;
  text-transform: none;
}

.block-bottom-info {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 3;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
}
.block-bottom-info .block-container {
  max-width: 67.7083vw;
  margin: 0 auto;
  padding: 0.8333vw 0 2.0833vw;
}
.block-bottom-info .icons-wrrap {
  color: #26A562;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0 1.4583vw;
  max-width: 57.2917vw;
  margin: 0 auto;
  margin-bottom: 1.8229vw;
}
.block-bottom-info .icons-item {
  font-weight: 500;
}
.block-bottom-info .icons-item img {
  width: 2.3438vw;
  height: 2.3438vw;
  display: block;
  margin-bottom: 0.2604vw;
}
.block-bottom-info .block-text p + p {
  margin-top: 1.0417vw;
}

.big-img-block {
  height: calc(63.2917vw - 8.5938vw);
  position: relative;
}
.big-img-block .block-img-container {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.big-img-block .block-content {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  transition: all 0.3s;
  padding: 6.5104vw 0;
  padding: 12.7604vw 0;
}
.big-img-block .block-content .section-caption {
  position: relative;
  z-index: 3;
}
.big-img-block .block-content .section-caption .sc-subtitle, .big-img-block .block-content .section-caption .sc-title {
  color: #fff;
}
.big-img-block .block-content .section-caption .sc-subtitle {
  text-transform: none;
  margin-top: 1.8229vw;
}
.big-img-block .block-content .block-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}

.press-room-section {
  padding-bottom: 2.3438vw;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.8542vw 0.8333vw;
}

.article-card .card-image {
  position: relative;
  display: block;
  overflow: hidden;
}
.article-card .card-image:before {
  content: "";
  display: block;
  padding-top: 138.4328%;
}
.article-card .card-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  object-fit: cover;
  object-position: center center;
  transition: all 0.5s;
}
.article-card .card-image:hover img, .article-card .card-image:focus img {
  transform: scale(1.07);
  opacity: 0.8;
}
.article-card .card-content {
  padding: 3.6458vw 0 1.5625vw;
  font-weight: 300;
}
html[dir=ltr] .article-card .card-content {
  padding-right: 3.6458vw;
}
html[dir=rtl] .article-card .card-content {
  padding-left: 3.6458vw;
}
.article-card .card-caption {
  font-size: 1.6667vw;
  font-weight: bold;
  color: #26A562;
  margin-bottom: 1.0417vw;
}
.article-card .card-caption a {
  color: inherit;
}
.article-card .card-caption a:hover, .article-card .card-caption a:focus {
  color: #FDB22A;
}
.article-card .card-footer {
  margin-top: 1.5625vw;
}
.articles-grid .article-card:first-child {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.8333vw;
}
.articles-grid .article-card:first-child .card-content {
  padding-top: 3.6458vw;
  padding-bottom: 3.6458vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html[dir=ltr] .articles-grid .article-card:first-child .card-content {
  padding-right: 5.7292vw;
}
html[dir=rtl] .articles-grid .article-card:first-child .card-content {
  padding-left: 5.7292vw;
}
.articles-grid .article-card:first-child .card-image {
  grid-column: span 2;
  order: 1;
}
.articles-grid .article-card:first-child .card-image:before {
  padding-top: 68.32%;
}

.articles-section {
  padding: 1.8229vw 0 4.4271vw;
}
.articles-section .section-caption {
  margin-bottom: 5.2083vw;
}
.articles-section .section-inner {
  display: grid;
  grid-template-columns: 26.3021vw 1fr;
  grid-gap: 3.125vw;
}

.small-article-card {
  padding: 1.5625vw 0;
  font-weight: 300;
  border-bottom: 1px solid #26A562;
}
html[dir=ltr] .small-article-card {
  padding-right: 3.6458vw;
}
html[dir=rtl] .small-article-card {
  padding-left: 3.6458vw;
}
.small-article-card:first-child {
  padding-top: 0;
}
.small-article-card:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}
.small-article-card .card-caption {
  display: inline;
  color: #26A562;
  font-weight: bold;
  font-size: 1.3542vw;
  line-height: 1.308;
  line-height: 1.28;
}
.small-article-card p {
  display: inline;
  line-height: 1.28;
}

.video-block {
  position: relative;
  width: 100%;
}
.video-block:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
.video-block img,
.video-block iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  object-fit: cover;
  object-position: center center;
}

.category-first-screen-section .section-inner {
  display: grid;
  grid-template-columns: 24.5833vw 1fr;
  grid-gap: 4.1667vw;
}
.category-first-screen-section .section-content {
  padding: 3.6458vw 0 0.5208vw;
}
.category-first-screen-section .section-image {
  position: relative;
}
.category-first-screen-section .section-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}
.category-first-screen-section .section-caption {
  margin-bottom: 2.6042vw;
}
.category-first-screen-section .solutions-list {
  margin-top: 2.0833vw;
  max-width: 14.0625vw;
  display: grid;
  grid-gap: 1.0417vw;
}
.category-first-screen-section .small-solution-card {
  text-transform: capitalize;
}
.category-first-screen-section .small-solution-card strong {
  display: block;
  font-weight: 500;
}
.category-first-screen-section .small-solution-card p {
  margin-bottom: 1.0417vw;
}

.related-section {
  padding: 4.1667vw 0 2.0833vw;
}

.related-card {
  display: block;
}
.related-card .card-image {
  position: relative;
  margin-bottom: 1.8229vw;
  overflow: hidden;
}
.related-card .card-image:before {
  content: "";
  display: block;
  padding-top: 62.56%;
}
.related-card .card-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  object-fit: cover;
  object-position: center center;
  transition: all 0.5s;
}
.related-card .card-caption {
  font-size: 1.4583vw;
  line-height: 1.428;
  text-transform: uppercase;
  text-align: center;
  color: #26A562;
  text-transform: uppercase;
  transition: all 0.3s;
}
.related-card:hover .card-image img, .related-card:focus .card-image img {
  transform: scale(1.05);
  opacity: 0.8;
}
.related-card:hover .card-caption, .related-card:focus .card-caption {
  color: #FDB22A;
}

.the-solution-section {
  padding: 2.0833vw 0 6.7708vw;
}

.product-card {
  background: #EFEFEF;
  padding-bottom: 1.5625vw;
  display: flex;
  flex-direction: column;
}
.product-card .card-image {
  margin-bottom: 2.0833vw;
  overflow: hidden;
}
.product-card .card-image img {
  display: block;
  max-width: 100%;
  height: auto;
  transition: all 0.3s;
  object-fit: cover;
  object-position: center center;
}
.product-card .card-content {
  flex: auto;
  padding: 0 4.1667vw;
}
.product-card .card-footer {
  margin-top: 1.25vw;
  padding: 0 4.1667vw;
}
.product-card .card-caption {
  font-size: 1.4583vw;
  line-height: 1.428;
  text-transform: uppercase;
  color: #26A562;
  text-transform: uppercase;
  transition: all 0.3s;
}
.product-card .card-caption strong {
  text-transform: none;
  display: block;
  font-size: 2.5vw;
  line-height: 1.3125;
}
.product-card:hover .card-image img, .product-card:focus .card-image img {
  transform: scale(1.05);
  opacity: 0.8;
}
.product-card:hover .card-caption, .product-card:focus .card-caption {
  color: #FDB22A;
}

.crops-section {
  padding: 2.8646vw 0 5.7292vw;
}

.crop-card {
  display: block;
}
.crop-card .card-image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1.25vw;
}
.crop-card .card-image:before {
  content: "";
  display: block;
  padding-top: 127.638%;
}
.crop-card .card-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  object-fit: cover;
  object-position: center center;
  transition: all 0.5s;
}
.crop-card .card-caption {
  transition: all 0.3s;
  font-size: 1.4583vw;
  line-height: 1.428;
  text-transform: uppercase;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #26A562;
}
.crop-card:hover .card-image img, .crop-card:focus .card-image img {
  transform: scale(1.05);
  opacity: 0.8;
}
.crop-card:hover .card-caption, .crop-card:focus .card-caption {
  color: #FDB22A;
}

.full-width-section {
  height: calc(100vh - 8.5938vw);
}
.full-width-section .block-content {
  padding-top: 5.9896vw;
}
.full-width-section .section-caption {
  margin-bottom: 2.0833vw;
}
.full-width-section .section-caption .sc-subtitle {
  text-transform: none;
  margin-top: 0;
}
.full-width-section .block-text {
  color: #fff;
}

.contact-us-section {
  padding: 5.9896vw 0 0;
}
.contact-us-section .section-caption {
  margin-bottom: 2.0833vw;
}
.contact-us-section .section-caption .sc-subtitle {
  margin-top: 0.25vw;
  text-transform: none;
}
.contact-us-section .block-wrrap {
  display: grid;
  grid-template-columns: 30.7292vw 38.0729vw;
  grid-gap: 0 16.7188vw;
}
.authors-section .section-caption {
  margin-bottom: 5.2083vw;
}
.authors-section .author-blocks .blocks-img {
  background-color: #ccc;
}
.authors-section .author-blocks .blocks-img img {
  width: 100%;
  height: auto;
  display: block;
}
.authors-section .author-blocks .blocks-info {
  background: #EBEBEB;
  padding: 1.3021vw 2.3438vw 2.1875vw;
}
.authors-section .author-blocks .blocks-info .block-caption {
  font-size: 1.4583vw;
  font-weight: 500;
  margin-bottom: 1.0417vw;
}
.authors-section .author-blocks .blocks-info p {
  font-size: 1.3542vw;
  line-height: 1.5;
}

.middle-img-section {
  display: grid;
  grid-template-columns: 63.9583vw 34.5313vw;
  grid-gap: 0 1.3542vw;
  margin-bottom: 5.2083vw;
}
.middle-img-section .blocks-img {
  min-height: 47.5521vw;
  padding-top: 17.2396vw;
  position: relative;
}
html[dir=ltr] .middle-img-section .blocks-img {
  padding-left: 7.2917vw;
}
html[dir=rtl] .middle-img-section .blocks-img {
  padding-right: 7.2917vw;
}
.middle-img-section .blocks-img .bg-picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  object-fit: cover;
  object-position: center center;
}
.middle-img-section .blocks-img .blocks-content {
  position: relative;
  z-index: 1;
  color: #fff;
}
html[dir=ltr] .middle-img-section .blocks-img .blocks-content {
  padding-right: 16.6667vw;
}
html[dir=rtl] .middle-img-section .blocks-img .blocks-content {
  padding-left: 16.6667vw;
}
.middle-img-section .blocks-img .blocks-content .title {
  font-size: 3.3333vw;
  line-height: 1;
  margin-bottom: 2.0833vw;
}
.middle-img-section .blocks-img .blocks-content p {
  font-size: 1.6667vw;
  line-height: 1.5;
  font-weight: 500;
}
.middle-img-section .blocks-img .btn-text {
  font-size: 1.6667vw;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  z-index: 1;
  color: #fff;
  margin-top: 2.0833vw;
  display: block;
}
.middle-img-section .blocks-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
html[dir=ltr] .middle-img-section .blocks-info {
  padding-right: 7.2917vw;
}
html[dir=rtl] .middle-img-section .blocks-info {
  padding-left: 7.2917vw;
}
.video-section {
  min-height: 1095px;
  position: relative;
  background-color: #000;
  position: relative;
}
.video-section.playing {
  cursor: pointer;
}
.video-section .video-wrrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1095px;
  padding-top: 100px;
  padding-bottom: 20px;
}
.video-section .video-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.video-section .section-caption {
  margin-bottom: 10px;
}
.video-section .section-caption .sc-subtitle strong {
  display: block;
}
.video-section .video-text {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}
.video-section .video-box a svg {
  width: 87px;
  height: 64px;
}
.video-section .video-box a.v-start.mobil {
  display: none;
}
.video-section.playing .video-bg video {
  z-index: 2;
}
.video-section .video-content {
  position: relative;
  z-index: 1;
  width: 100%;
}
.video-section .video-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}
.video-section .video-bg video {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .video-section {
    min-height: 305px;
  }
  .video-section .c-plus-block {
    display: none;
  }
  .video-section .video-content {
    min-height: 305px;
    display: flex;
    align-items: flex-end;
  }
  .video-section .video-wrrap {
    height: auto;
  }
  .video-section a.v-start {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
  }
  .video-section .video-text {
    font-size: 14px;
    line-height: 1;
  }
  .video-section .video-box a.v-start {
    display: none;
  }
  .video-section .video-box a.v-start.mobil {
    display: block;
  }
  .video-section .video-box a.v-start.mobil svg {
    width: 40px;
    height: 40px;
  }
}
.product-section {
  padding-top: 5.2083vw;
  margin-bottom: 7.8125vw;
}
.product-section .product-blocks {
  margin-bottom: 1.5625vw;
}
.product-section .product-blocks .product-img {
  display: block;
  background-color: #ccc;
}
.product-section .product-blocks .product-img img {
  width: 100%;
  height: auto;
  display: block;
}
.product-section .product-blocks .product-info {
  padding: 1.0417vw 2.0833vw 1.0417vw 0.5208vw;
  display: flex;
  justify-content: space-between;
}
.product-section .product-blocks .product-info .buttons {
  display: inline-flex;
  align-items: center;
  height: 2.2396vw;
  padding: 0.3646vw 0.7813vw;
  font-size: 0.9375vw;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: #26A562;
  position: relative;
}
.product-section .product-blocks .product-info .buttons.border {
  border: 0.0521vw solid #26A562;
  border-radius: 0.4167vw;
}
.product-section .product-blocks .product-info .buttons::after {
  content: "";
  position: absolute;
  width: 0.5729vw;
  height: 0.7292vw;
  background-color: #ccc;
}
html[dir=ltr] .product-section .product-blocks .product-info .buttons {
  padding-right: 1.9625vw;
  margin-left: 1.5625vw;
}
html[dir=ltr] .product-section .product-blocks .product-info .buttons::after {
  right: 0.8854vw;
}
html[dir=rtl] .product-section .product-blocks .product-info .buttons {
  padding-left: 1.9625vw;
  margin-right: 1.5625vw;
}
html[dir=rtl] .product-section .product-blocks .product-info .buttons::after {
  left: 0.8854vw;
}
.product-section .product-blocks .product-caption {
  font-size: 1.3542vw;
  line-height: 1.5;
  color: #26A562;
}

.middle-img-section-reverse {
  display: grid;
  grid-template-columns: 34.5313vw 63.9583vw;
  grid-gap: 0 1.3542vw;
}
.middle-img-section-reverse .blocks-img {
  min-height: 47.5521vw;
  padding-top: 17.2396vw;
  position: relative;
}
html[dir=ltr] .middle-img-section-reverse .blocks-img {
  padding-right: 7.2917vw;
}
html[dir=rtl] .middle-img-section-reverse .blocks-img {
  padding-left: 7.2917vw;
}
.middle-img-section-reverse .blocks-img .bg-picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  object-fit: cover;
  object-position: center center;
}
.middle-img-section-reverse .blocks-img .blocks-content {
  position: relative;
  z-index: 1;
  color: #fff;
}
html[dir=ltr] .middle-img-section-reverse .blocks-img .blocks-content {
  padding-left: 16.6667vw;
}
html[dir=rtl] .middle-img-section-reverse .blocks-img .blocks-content {
  padding-right: 16.6667vw;
}
.middle-img-section-reverse .blocks-img .blocks-content .title {
  font-size: 3.3333vw;
  line-height: 1;
  margin-bottom: 2.0833vw;
}
.middle-img-section-reverse .blocks-img .blocks-content p {
  font-size: 1.6667vw;
  line-height: 1.5;
  font-weight: 500;
}
.middle-img-section-reverse .blocks-img .btn-text {
  font-size: 1.6667vw;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
  z-index: 1;
  color: #fff;
  margin-top: 2.0833vw;
  display: block;
}
.middle-img-section-reverse .blocks-info {
  display: flex;
  flex-direction: column;
  padding-top: 9.375vw;
}
html[dir=ltr] .middle-img-section-reverse .blocks-info {
  padding-left: 7.2917vw;
}
html[dir=rtl] .middle-img-section-reverse .blocks-info {
  padding-right: 7.2917vw;
}
.middle-img-section-reverse .section-caption .sc-subtitle {
  margin-top: 0;
}
.middle-img-section-reverse .block-footer .text {
  display: block;
  margin-top: 1.0417vw;
  margin-bottom: 2.0833vw;
  font-size: 1.3542vw;
  line-height: 1;
  font-weight: 500;
}
.middle-img-section-reverse .form {
  margin-bottom: 2.6042vw;
}
.middle-img-section-reverse .form .form-label {
  color: #26A562;
  font-size: 1.4583vw;
  line-height: 1.5;
  margin-bottom: 1.0417vw;
  font-weight: 700;
}
.big-bg-form {
  position: relative;
}
.big-bg-form .bg-picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  object-fit: cover;
  object-position: center center;
  z-index: -1;
}
.big-bg-form .block-info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 741px;
  padding: 100px 0;
}
.big-bg-form .section-caption .sc-title {
  color: #fff;
}
.big-bg-form .form .form-field input {
  border: 2px solid #3C3B3B;
  background: #E7DDC4;
  margin-bottom: 40px;
  max-width: 514px;
  padding: 0 15px;
}