.category-first-screen-section .section-inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 24.5833vw 1fr;
  grid-template-columns: 24.5833vw 1fr;
  grid-gap: 4.1667vw; }

.category-first-screen-section .section-content {
  padding: 3.6458vw 0 0.5208vw; }

.category-first-screen-section .section-image {
  position: relative; }
  .category-first-screen-section .section-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center; }

.category-first-screen-section .section-caption {
  margin-bottom: 2.6042vw; }

.category-first-screen-section .solutions-list {
  margin-top: 2.0833vw;
  max-width: 14.0625vw;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.0417vw; }

.category-first-screen-section .small-solution-card strong {
  display: block;
  font-weight: 500; }

.category-first-screen-section .small-solution-card p {
  margin-bottom: 1.0417vw; }
