.product-info-section {
  margin-top: -110px; }
  .product-info-section .section-caption {
    margin-bottom: 130px; }
  .product-info-section .section-inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px; }
  .product-info-section .section-text {
    margin-bottom: 40px; }
    .product-info-section .section-text:last-child {
      margin-bottom: 0; }

.pests-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px; }

.pest-card {
  display: block; }
  .pest-card .card-image {
    position: relative;
    overflow: hidden; }
    .pest-card .card-image:before {
      content: '';
      display: block;
      padding-top: 86.79%; }
    .pest-card .card-image img {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      display: block;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center center;
      object-position: center center;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
  .pest-card:hover .card-image img, .pest-card:focus .card-image img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    opacity: .8; }
