
.footer-2{
	font-size: 1.0417vw;
	line-height: 1.4;
	min-height: 22.2917vw;
	background: #3C3B3B;
	color: #fff;
	padding-top: 4.6875vw;
	a{
		color: inherit;
	}
	.footer-block {
		display: flex;
		align-items: center;
	}
	.footer-logo{ 
		display: flex;
		align-items: center;
		max-width: unset;

		p{
			margin-top: 0;
		}
	}
	.footer-row.first{
		padding-bottom: 0;
	}
	.footer-row.second{
		padding-top: 1.5625vw; 
	}

	@media screen and (min-width: 576px){
		.copyright{
			html[dir="ltr"] &{
				margin-left: 2.5521vw;
			} 
			html[dir="rtl"] &{
				margin-right: 2.5521vw;
			}
		}
	}

	.footer-inner {
		display: flex;
		justify-content: space-between;
		width: calc(100% + 1.0417vw * 2);
		margin-left: -1.0417vw;
		margin-right: -1.0417vw;
	}  
	.footer-inner .footer-block {
		padding: 0 1.0417vw;
	}

	@media screen and (max-width: 991px){
		font-size: 12px;
		min-height: unset;
		padding: 40px 0;

		.footer-row.second{
			padding-top: 24px;
		}
	}

	@media screen and (max-width: 767px){
		.footer-inner{
			width: calc(100% + 8px * 2);
			margin-left: -8px;
			margin-right: -8px;
			
			.footer-block{
				padding: 0 8px;
			}
		}
	}

	@media screen and (max-width: 575px){
		.footer-inner{
			flex-direction: column;

			.footer-block{
				margin-bottom: 24px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.copyright,
		.contact-link{
			width: 100%;
			text-align: center;
		}
	}
}