.footer-2{
	font-size: 1.0417vw;
	line-height: 1.35;
	background: #646464;
	color: #fff;
	padding: 4.6875vw 0;

	--logo-padding: 2.6042vw;

	a{
		color: inherit;

		&:hover,
		&:focus{
			outline: none;
			color: $accent;
		}
	}

	.footer-block {
		display: flex;
		align-items: center;
	}

	--logo-bottom-gap: 0.3646vw;

	.footer-logo{
		display: flex;
		align-items: flex-end;
		max-width: unset;

		--footer-logo-gap: 2.3438vw;

		p{
			margin-top: 0;
			padding-bottom: var(--logo-bottom-gap);

			html[dir="ltr"] &{
				margin-left: var(--footer-logo-gap);
			}

			html[dir="rtl"] &{
				margin-right: var(--footer-logo-gap);
			}
		}
	}

	.contact-link{
		padding-bottom: var(--logo-bottom-gap);
	}

	.footer-row.first{
		padding-bottom: 0;

		.footer-inner{
			align-items: flex-end;
		}
	}

	.footer-row.second{
		padding-top: 1.5625vw; 
	}

	@media screen and (max-width: 991px){
		--logo-padding: 28px;
	}

	@media screen and (max-width: 767px){
		--logo-padding: 0;
	}

	.footer-inner {
		display: flex;
		justify-content: space-between;
		width: calc(100% + 1.0417vw * 2);
		margin-left: -1.0417vw;
		margin-right: -1.0417vw;
	}

	.footer-inner .footer-block {
		padding: 0 1.0417vw;
	}

	@media screen and (max-width: 991px){
		font-size: 12px;
		min-height: unset;
		padding: 40px 0;

		.footer-row.second{
			padding-top: 24px;
		}
	}

	@media screen and (max-width: 767px){
		.footer-inner{
			width: calc(100% + 8px * 2);
			margin-left: -8px;
			margin-right: -8px;
			
			.footer-block{
				padding: 0 8px;
			}
		}
	}

	@media screen and (max-width: 575px){
		.footer-inner{
			flex-direction: column;

			.footer-block{
				margin-bottom: 24px;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.copyright,
		.contact-link{
			width: 100%;
			text-align: center;
			a{ 
				font-size: 1.25vw;
				line-height: 1.2;
			}
		}
	}
}