.footer{
	background: #646464;
	color: #fff;

	--logo-padding: 2.6042vw;

	.footer-row{
		&.first{
			padding: 4.6875vw 0 2.3438vw;
		}

		&.second{
			padding: 2.3438vw 0;
		}
	}

	.footer-inner{
		display: flex;
		justify-content: space-between;
		width: calc(100% + 1.0417vw * 2);
		margin-left: -1.0417vw;
		margin-right: -1.0417vw;
		
		.footer-block{
			padding: 0 1.0417vw;
		}
	}

	@media screen and (max-width: 991px){
		--logo-padding: 28px;

		.footer-row{
			&.first{
				padding: 30px 0 20px;
			}

			&.second{
				padding: 20px 0;
			}
		}
	}

	@media screen and (max-width: 767px){
		--logo-padding: 0;

		.footer-row.first{
			.footer-inner{
				flex-direction: column;

				.footer-block{
					margin-bottom: 15px;

					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		.socials-component,
		.creator{
			display: none;
		}
	}
}

.footer-logo{
	max-width: 22.1354vw;

	p{
		margin-top: 0.8333vw;
		font-size: 1.0417vw;
		line-height: 1.4;

		html[dir="ltr"] &{
			padding-left: var(--logo-padding);
		}

		html[dir="rtl"] &{
			padding-right: var(--logo-padding);
		}

		a{
			color: inherit;

			&:hover,
			&:focus{
				color: $accent;
			}
		}
	}

	@media screen and (max-width: 991px){
		max-width: 220px;

		p{
			margin-top: 8px;
			font-size: 12px;
		}
	}

	@media screen and (max-width: 767px){
		display: flex;
		max-width: unset;
	}
}

.footer-nav-block{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 7.5000vw;
	width: 100%;
	max-width: 47.7083vw;

	@media screen and (max-width: 991px){
		grid-gap: 48px;
		max-width: unset;
		width: auto;
	}

	@media screen and (max-width: 575px){
		display: flex;
		justify-content: space-between;
		width: calc(100% + 10px * 2);
		margin-left: -10px;
		margin-right: -10px;
		grid-gap: 0;
		
		.column{
			padding: 0 10px;
			// white-space: nowrap;

			&:last-child{
				min-width: 90px;
			}
		}
	}

	.socials-component{
		margin-top: 1.8750vw;
	}

	.socials-list{
		li{
			a{
				&:hover,
				&:focus{
					color: $accent;
				}
			}
		}
	}
}

.footer-caption{
	font-size: 1.2500vw;
	line-height: 1.2;
	font-weight: 500;
	// text-transform: uppercase;
	margin-bottom: 0.7813vw;

	@media screen and (max-width: 991px){
		font-size: 14px;
		margin-bottom: 8px;
	}

	@media screen and (max-width: 575px){
		font-size: 11px;
	}
}

.footer-nav{
	li{
		margin-bottom: 0.7813vw;
		font-size: 1.2500vw;
		line-height: 1.2;

		&:last-child{
			margin-bottom: 0;
		}

		a{
			color: inherit;

			&:hover,
			&:focus{
				color: $accent;
			}
		}

		@media screen and (max-width: 991px){
			margin-bottom: 8px;
			font-size: 14px;
		}

		@media screen and (max-width: 575px){
			font-size: 11px;
			font-weight: 500;
		}
	}
}

.copyright,
.creator{
	font-size: 1.0417vw;
	line-height: 1.2;

	a{
		color: inherit;
		font-size: 1.25vw;
		line-height: 1.2;

		&:hover,
		&:focus{
			color: $accent;
		}
	}

	@media screen and (max-width: 991px){
		font-size: 12px;

		a{
			font-size: inherit;
		}
	}

	@media screen and (max-width: 575px){
		font-size: 11px;
		line-height: 1.36;

		b, strong{
			font-weight: bold;
		}
	}
}

.creator{
	@media screen and (max-width: 575px){
		max-width: 70px;
	}
}

.copyright{
	html[dir="ltr"] &{
		padding-left: var(--logo-padding);
	}

	html[dir="rtl"] &{
		padding-right: var(--logo-padding);
	}
}