.slick-slider{
	.slick-slide{
		outline: none !important;
	}

	img{
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.slick-arrow{
	height: 0.8333vw;
	width: 1.4583vw;
	z-index: 20;
	background: transparent;
	transition: all $t;

	--arrow-position: -2.0833vw;

	top: var(--arrow-top, 50%);

	&:before{
		display: none;
	}

	svg{
		width: 100%;
		height: 100%;
		display: block;
		transition: all $t;
		fill: $accent;
	}

	&:hover,
	&:focus{
		svg{
			fill: $primary;
		}
	}

	html[dir="ltr"] &{
		&.slick-prev{
			left: var(--arrow-position);
		}

		&.slick-next{
			right: var(--arrow-position);
		}
	}

	html[dir="rtl"] &{
		svg{
			transform: scaleX(-1);
		}

		&.slick-prev{
			right: var(--arrow-position);
		}

		&.slick-next{
			left: var(--arrow-position);
		}
	}

	&.slick-disabled{
		opacity: 0;
		visibility: hidden;
	}

	@media screen and (max-width: 991px){
		width: 12px;
		height: 28px;
		--arrow-position: -16px;
	}

	@media screen and (max-width: 374px){
		--arrow-position: -10px;
	}
}

.slick-dotted.slick-slider{
	margin-bottom: 0;
}

.slick-dots{
	bottom: -30px !important;
	display: flex !important;
	justify-content: center;
	align-items: center;

	--dot-color: #{ $primary };
	
	li{
		margin: 0 8px;
		width: 18px;
		height: 18px;
		display: flex;
		align-items: center;
		justify-content: center;

		button{
			width: 18px;
			height: 18px;
			background: var(--dot-color);
			padding: 0;
			opacity: 1;
			transition: all $t;
			border-radius: 50%;
			border: 2px solid var(--dot-color);

			&:before{
				display: none;
			}

			&:hover{
				opacity: 1;
			}
		}

		&.slick-active{
			button{
				opacity: 1;
				width: 18px;
				height: 18px;
				background: transparent;
			}
		}
	}
}

.default-slider-wrapper{
	@media screen and (min-width: 768px){
		padding: 0 65px;

		.slick-slider{
			width: calc(100% + 10px * 2);
			margin: -10px;
			
			.slide{
				padding: 10px;
			}
		}
	}

	@media screen and (max-width: 767px){
		padding-bottom: 48px;

		.slick-slider{
			width: calc(100% + 8px * 2);
			margin: -8px;
			
			.slick-slide{
				padding: 8px;
			}

			.slick-arrow{
				transform: translateY(0);
				top: calc(100% + 20px);

				&.slick-prev{
					left: 8px;
				}

				&.slick-next{
					right: 8px;
				}
			}
		}
	}
}