.article-section { 
    padding-top: 5.2083vw;
    .section-caption {
        margin-bottom: 2.6042vw;
    } 
    .article-wrrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap:0 2.6042vw;
    }
    .article-info {
    }
    .article-wrrap>.article-info:first-child li:first-child:after{
        background: $primary; 
    }
    .article-list {
        li{
            html[dir="ltr"] &{ 
                padding-left: 0.7813vw;
            }
            html[dir="rtl"] &{
                padding-right: 0.7813vw;
            }
            position: relative;
            &:after{
                content: "";
                position: absolute;
                width: 0.2604vw;
                height: 0.2604vw;
                border-radius: 50%;
                background: $gray;
                top: 0.7813vw;
                html[dir="ltr"] &{ 
                    left: 0;
                }
                html[dir="rtl"] &{
                    right: 0;
                }
            }
            strong{
                color: $primary;
                font-weight: 500;
            }
        } 
    } 
	@media screen and (max-width: 991px){ 
        padding-top: 50px;
        .section-caption{
            margin-bottom: 20px;
        }
        .article-list {
            li{
                html[dir="ltr"] &{ 
                    padding-left: 10px;
                }
                html[dir="rtl"] &{
                    padding-right: 10px;
                }
                position: relative;
                &:after{
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: $gray;
                    top: 7px;
                    html[dir="ltr"] &{ 
                        left: 0;
                    }
                    html[dir="rtl"] &{
                        right: 0;
                    }
                }
                strong{
                    color: $primary;
                    font-weight: 500;
                }
            } 
        } 
    }
	@media screen and (max-width: 991px){ 
        .article-wrrap{
            grid-gap:10px;
        }
    }
	@media screen and (max-width: 767px){ 
        .article-wrrap{
            display: block;
            >div{
                margin-bottom: 40px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
            
        }
    }
}