.authors-section { 
	.section-caption{
		margin-bottom: 5.2083vw;
	}
	.author-blocks {
		.blocks-img { 
			background-color: #ccc;
            &::before{
                content: "";
                display: block;
                padding-top: 13.5938vw;
            }
			img{ 
				width: 100%;
				height: auto;
				display: block;
			}
		}
		.blocks-info {
			background: #EBEBEB;
			padding: 1.3021vw 2.3438vw 2.1875vw;
			.block-caption{
				@include h3;
				font-weight: 500;
				margin-bottom: 1.0417vw;
			}
			p{
				@include p; 
			}
		}
	}
}