.big-img-section{
	
}

.big-img-block{
	height: calc(63.2917vw - 8.5938vw);
	// min-height: 56.25vw;
	position: relative;

	.block-img-container{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0; 
	}

	.block-content{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
		transition: all $t;
		padding: 6.5104vw 0; 
        padding: 12.7604vw 0;
		.section-caption {
			position: relative;
			z-index: 3; 
			.sc-subtitle,.sc-title {
				color: #fff;
			} 
			.sc-subtitle { 
				text-transform: none;
                margin-top: 1.8229vw;
			}
		}
		.block-preview{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
		} 
	}
}