.big-video-section{
	position: relative;

	.section-video-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		object-fit: cover;
		object-position: center center;
		display: block;
	}
}

.first-screen-slider{
	.slick-dots{
		z-index: 20;
		bottom: 2vw !important;
	}
}
.home{
	.big-video-block{
		max-height: 41.6667vw;
		min-height: auto;
	}
}
.big-video-block{
	height: calc(100vh - 5.4734vw);
	min-height: 500px;
	position: relative;

	@media screen and (max-width: 991px){
		height: calc(100vh - 84px);
	}

	@media screen and (max-width: 575px){
		height: 134.7222vw;
	}

	.block-video-container{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;

		iframe,
		video{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
		}
	}

	.block-content{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 3;
		transition: all $t;
		padding: 6.5104vw 0;

		.page-caption,
		.section-text{
			color: #fff;
			line-height: 1;
			margin-bottom: 0.2em;
			max-width: 26.0417vw;
			position: relative;
			z-index: 3;
		}

		.block-preview{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
		}

		.play-btn{
			position: absolute;
			z-index: 3;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 4.2188vw;
			height: 4.2188vw;
			border-radius: 50%;
			display: block;

			&:after{
				content: '';
				display: block;
				width: 200%;
				height: 200%;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}

			.btn-icon{
				width: 100%;
				height: 100%;
				fill: #fff;
				transition: all $t;
				display: block;
			}

			&:hover,
			&:focus{
				outline: none;

				.btn-icon{
					fill: $primary;
				}
			}
		}

		@media screen and (max-width: 991px){
			padding: 40px 0;

			.page-caption,
			.section-text{
				max-width: 270px;
			}

			.play-btn{
				position: relative;
				left: 0;
				top: 0;
				transform: none;
				width: 40px;
				height: 40px;
				margin-top: 20px;

				html[dir="ltr"] &{
					margin-left: 25px;
				}

				html[dir="rtl"] &{
					margin-right: 25px;
				}
			}
		}
	}

	&.playing{
		.block-content{
			opacity: 0;
			visibility: hidden;
		}
	}
}