.big-img-section{
	
}

.big-img-block{
	height: calc(63.2917vw - 5.4734vw);
	// min-height: 56.25vw;
	position: relative;
	overflow: hidden;

	.block-img-container{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0; 
	}

	.block-content{
		display: flex;
		flex-direction: column;  
		height: 100%;
		padding: 12.2396vw 0 0;
		position: relative;
		z-index: 1;

		.breadcrumbs{
			top: 2.3438vw;
			position: absolute;
		}

		.section-caption {
			position: relative;
			z-index: 3; 
			.sc-subtitle,.sc-title {
				color: #fff;
			} 
			.sc-subtitle { 
				text-transform: none;
				margin-top: 1.8229vw;
			}
		}
		.block-preview{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
		} 
	}
	@media screen and (max-width: 991px){ 
		height: auto;
		position: relative;
		.block-content{
			padding: 50px 0 0; 
		}
	}
}

.about-first-screen-section{
	.section-caption{
		text-transform: uppercase;

		.sc-subtitle{
			text-transform: uppercase !important;
		}
	}
}