.blocks-text-section { 
    padding: 5.2083vw 0;
    .section-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0 7.5521vw; 
    }
    .section-item {
        margin-bottom: 2.6042vw;
    }
}