.blocks-tab-wrrap {
    .block-tab {
        margin-bottom: 1.5625vw;
        padding-bottom: 1.5625vw;
        border-bottom: 1px solid $green;
        &.on {
            .title {
                padding-bottom: 1.3021vw;
            }
            .text{
                display: block;
            }
        }
        .text,
        .title {
            padding: 1.0417vw;
        }
        .title {
            font-weight: 500;
            @include p();
            position: relative;
            &::after {
                content: "";
                position: relative;
                width: 1.0938vw;
                height: 0.5729vw;
                display: inline-block;
                background-color: $orange;
                html[dir="ltr"] & {
                    margin-left: 0.7813vw;
                }
                html[dir="rtl"] & {
                    margin-right: 0.7813vw;
                }
            }
        }
        .text {
            padding-top: 0;
            padding-bottom: 0;
            display: none;
        }
    }
}

@keyframes animation-MoveUp {
    from {
        -webkit-transform: translateY(-2.6042vw);
        -ms-transform: translateY(-2.6042vw);
        transform: translateY(-2.6042vw);
        opacity: 0
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes animation-Opacity {
    from { 
        opacity: 0
    } 
    to {
        opacity: 1; 
    }
}

.animation-Opacity { 
    animation-name: animation-Opacity
}
.animation-MoveUp { 
    animation-name: animation-MoveUp
}
.animated-fast { 
    animation-duration: 0.5s
}