.block-bottom-info {
	// position: absolute;
	// width: 100%;
	// left: 0;
	// bottom: 0;
	// z-index: 3;
	text-align: center;
	background-color: rgba(#fff, 0.7);
	margin-top: auto;

	.block-container{
		max-width: 85.4167vw;
		margin: 0 auto;
		padding: 0.8542vw 0;
		min-height: 16.1458vw;
		display: flex;
		align-items: center;

		@media screen and (max-width: 991px){
			padding: 32px 0;
		}
	}

	.icons-wrrap {
		color: $primary;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 0 1.4583vw;
		width: 100%;
		align-items: center;
	}

	.item-caption{
		font-size: 1.3542vw;
		line-height: 1.2;
		font-weight: 500;
		transition: all, $t;
	}

	.icons-item {
		font-weight: 500;
		text-transform: capitalize;
		display: flex;
		flex-direction: column;
		align-items: center;

		img{
			width: 4.0104vw;
			height: 4.0104vw;
			display: block;
			margin-bottom: 1.4583vw;
			object-fit: contain;
			object-position: center center;
			transition: all $t;
		}

		.item-text{
			margin-top: 1em;
			text-align: center;
			display: none;
			font-size: 1.3542vw;
			line-height: 1.25;
			font-weight: 400;
			color: #3C3B3B;

			p{
				color: inherit;
				transition: all, $t;
			}
		}

		@media screen and (min-width: 1024px){
			&:hover,
			&:focus{
				img{
					width: 2.2917vw;
					height: 2.2917vw;
				}
				.item-caption{
					font-size: 1.1458vw;
				}
				.item-text p{
					font-size: 1.1458vw;
				}
			}
		}
	}

	.block-text{
		p+p{
			margin-top: 1.0417vw;
		}
	}
	@media screen and (max-width: 991px){
		margin-top: 50px;
		.icons-wrrap{ 
			grid-template-columns: repeat(2,1fr);
			grid-gap: 10px; 
			margin-bottom: 20px;
		}
		.block-container{
			max-width: 700px;
		}
		.icons-item{
			display: flex;

			img{
				margin: 3px auto;
				width: 44px;
				height: 44px;
			}

			.item-caption{
				font-size: 16px;
				margin-bottom: 2px;
			}

			.item-text{
				font-size: 16px;
				display: block;
			}
		} 
	}
	@media screen and (max-width: 657px){
		padding-left: 25px;
		padding-right: 25px;
		// .block-container{ 
		// 	max-width: 515px;
		// }
		.icons-wrrap{
			max-width: 100%;
		}
	}

	@media screen and (max-width: 575px){
		.icons-wrrap{
			grid-template-columns: 1fr;
			grid-gap: 20px;

			.icons-item{
				display: grid;
				grid-template-columns: 44px 1fr;
				align-items: start;
				grid-gap: 10px;
				text-align: left;

				img{
					margin-bottom: 0;
				}

				.item-text{
					text-align: left;
					margin-top: 0;
				}
			}
		}
	}
}