.category-first-section{
	padding-bottom: 4.1667vw;

	.section-inner{
		display: grid;
		grid-template-columns: 1fr 27.9167vw;
		grid-gap: 0.8333vw;
	}

	--images-height: 34vw;

	.section-image{
		img{
			width: 100%;
			height: var(--images-height);
			object-fit: cover;
			object-position: center center;
			display: block;
		}
	}

	.category-pest-card{
		display: flex;
		flex-direction: column;

		.card-image{
			img{
				width: 100%;
				height: var(--images-height);
				object-fit: cover;
				object-position: center center;
				display: block;
			}
		}

		.card-text{
			text-align: center;
			font-size: 1.3542vw;
			line-height: 1.3;
			font-weight: 500;
			margin-top: 0.6250vw;
		}
	}

	@media screen and (max-width: 991px){
		.section-inner{
			grid-template-columns: 1fr calc(33% - 8px / 2);
			grid-gap: 8px;
		}

		.category-pest-card{
			.card-text{
				margin-top: 8px;
				font-size: 14px;
			}
		}
	}

	@media screen and (max-width: 575px){
		--images-height: 370px;

		.section-inner{
			grid-template-columns: 100%;
		}

		.section-image{
			position: relative;
			
			&:before{
				content: '';
				display: block;
				padding-top: 76.12%;
			}
			
			img{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				object-fit: cover;
				object-position: center center;
			}
		}
	}
}

.category-first-screen-slider{
	width: calc(100% + 0.4167vw * 2);
	margin-left: -0.4167vw;
	margin-right: -0.4167vw;
	
	.slide{
		padding: 0 0.4167vw;
	}
}