.contact-us-section { 
    padding: 5.9896vw 0 0;
    .block-content {
    }
    .section-caption {
        margin-bottom: 2.0833vw;
        .sc-title {
        }
        .sc-subtitle {
            margin-top: 0.25vw;
            text-transform: none;
        }
    }
    .block-wrrap{
        display: grid; 
        grid-template-columns: 30.7292vw 38.0729vw;
        grid-gap: 0 16.7188vw;
    }
    .block-text {

    }
    .form {
        .form-input {
        }
        .form-radio-box {
        }
        .form-radio-item {
        }
        .visually-hidden {
        }
        .fake-label {
        }
        .answer-checkbox {
        }
        .answer-text {
        }
        .form-col {
        }
        .form-label {
        }
        .form-textarea {
        }
        .textarea {
        }
        .form__checkbox {
        } 
        .form-submit {
        } 
    }
}