.contact-us-section { 
	padding: 5.9896vw 0;

	.section-caption {
		margin-bottom: 2.0833vw;

		.sc-subtitle {
			margin-top: 0.25vw;
			text-transform: none;
		}
	}

	.block-wrrap{
		display: grid; 
		grid-template-columns: 38.0208vw 1fr;
		justify-content: space-between;
		grid-gap: 0 7.2917vw;
	}

	.block-text{
		width: 30.7292vw;
	}

	.block-map{
		margin-top: 3.1250vw;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	@media screen and (max-width: 991px){
		padding: 50px 0;

		.block-text{
			width: 100%;
		}

		.block-wrrap{
			grid-gap: 40px;
			grid-template-columns: 1fr 1fr;
		}
	}

	@media screen and (max-width: 767px){
		.block-wrrap{
			grid-template-columns: 1fr;
		}
	}
}

html[dir="rtl"] .intl-tel-input.allow-dropdown .selected-flag, .intl-tel-input.separate-dial-code .selected-flag{
	padding: 0 6px 0 20px;
}

html[dir="rtl"] .intl-tel-input.allow-dropdown .flag-container, .intl-tel-input.separate-dial-code .flag-container{
	right: 0;
	left: auto;
}
html[dir="rtl"] .intl-tel-input .country-list{
	right: 0;
	left: auto;
	direction: ltr;
	width: 23vw;
	@media screen and (max-width: 992px){
		width: 25vw;
	}
	@media screen and (max-width: 768px){
		width: 28vw;
	}
	@media screen and (max-width: 575px){
		width: 92vw;
	}
}

html[dir="rtl"] .wpcf7 input[type="tel"]{
	padding-left: 6px;
    padding-right: 52px;
    margin-left: 0;
}
html[dir="rtl"] .intl-tel-input .selected-flag .iti-arrow{
	right: 30px;
	left: auto;
}