.how-it-work-section{
	min-height: 40vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;

	.section-content{
		padding: 2.6042vw 7.1354vw;

		.sc-title{
			text-transform: capitalize;
		}

		.sc-subtitle{
			font-weight: 300;
			color: $text-color;

			strong{
				font-weight: bold;
				color: $primary;
			}
		}
	}

	.section-image{
		position: relative;
		height: 100%;

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: contain;
			object-position: center center;
		}
	}

	.scroll-next{
		width: 2.9167vw;
		height: 1.6667vw;
		display: block;
		color: $accent;
		margin-top: 3.1250vw;

		.link-icon{
			width: 100%;
			height: 100%;
			display: block;
			fill: currentcolor;
		}
	}

	@media screen and (max-width: 991px){
		.scroll-next{
			width: 32px;
			height: 28px;
			margin-top: 24px;
		}
	}

	@media screen and (max-width: 767px){
		min-height: unset;
		grid-template-columns: 1fr;

		.section-content{
			padding: 40px 25px;
		}

		.section-image{
			img{
				position: static;
				height: auto;
			}
		}
	}

	@media screen and (max-width: 359px){
		.section-content{
			padding: 40px 15px;
		}
	}
}