.manage-section{
	padding: 10.4167vw 0 0;

	.container{
		position: relative;
		z-index: 2;
	}

	.section-caption{
		max-width: 45.8333vw;
		margin: 0 auto 1.2500vw;
		text-align: center;
	}

	.section-features{
		max-width: 59.8958vw;
		margin: 0 auto 3.1250vw;
		text-align: center;
		@include p;

		li{
			&:before{
				content: '';
				display: inline-block;
				width: 0.7292vw;
				height: 0.7292vw;
				transform: translateY(-15%);

				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13.34 13.35'%3E%3Cg%3E%3Cpath d='M4.67 4.6l2.2-.02a1.95 1.95 0 011.9 1.9V8.7H6.43a1.91 1.91 0 01-1.76-1.74l.01-2.37z' fill='%23ffb229'/%3E%3Cpath d='M7.18 2.35A3.83 3.83 0 019.81 3.5a3.75 3.75 0 011.18 2.67v4.82h-5.3a3.28 3.28 0 01-2.3-1.2 3.67 3.67 0 01-1.04-2.08l.02-5.34 4.81-.02m0-2.35C4 0 .02.03.02.03L0 7.71c0 2.3 2.5 5.63 5.7 5.63h7.64V6.18A6.32 6.32 0 007.18 0z' fill='%2320a562'/%3E%3C/g%3E%3C/svg%3E");

				html[dir="ltr"] &{
					margin-right: 1.5625vw;
				}

				html[dir="rtl"] &{
					margin-left: 1.5625vw;
				}

				@media screen and (max-width: 991px){
					width: 12px;
					height: 12px;

					html[dir="ltr"] &{
						margin-right: 8px;
					}

					html[dir="rtl"] &{
						margin-left: 8px;
					}
				}
			}
		}
	}

	.section-image{
		display: flex;
		justify-content: flex-end;

		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	.section-bg{
		margin-top: -18.0729vw;

		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}

	@media screen and (max-width: 991px){
		padding: 50px 0 0;

		.section-caption{
			max-width: 600px;
			margin-bottom: 16px;
		}

		.section-features{
			max-width: 600px;
			margin-bottom: 50px;

			li{
				margin-bottom: 1em;

				&:last-child{
					margin-bottom: 0;
				}
			}
		}

		.section-bg{
			margin-top: -50px;

			img{
				width: 115%;
				margin-left: -15%;
			}
		}
	}
}