.middle-img-section {
	display: grid;
	grid-template-columns: 63.9583vw 34.5313vw;
	grid-gap: 0 2.0833vw;
	margin-bottom: 5.2083vw;
	min-height: 47.5521vw;

	.blocks-img{
		padding-top: 17.1875vw;
		position: relative;

		html[dir="ltr"] &{
			padding-left: 7.2917vw;
		}

		html[dir="rtl"] &{
			padding-right: 7.2917vw;
		}

		.play {
		}
		.arrow {
		}
	}

	.bg-picture{
		background: #000;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
			opacity: .6;
			// TODO: fix opacity
		}
	}

	.blocks-content {
		position: relative;
		z-index: 1;
		color: #fff;

		html[dir="ltr"] &{
			padding-right: 16.6667vw;
		}

		html[dir="rtl"] &{
			padding-left: 16.6667vw;
		}

		.title{
			@include h1;
			margin-bottom: 2.0833vw;
		}

		p{ 
			font-size: 1.6667vw;
			line-height: 1.5;
			font-weight: 500;
		}
	}

	.btn-text {
		font-size: 1.6667vw;
		line-height: 1.5;
		font-weight: 500;
		position: relative;
		z-index: 1;
		color: #fff; 
		margin-top: 2.0833vw;
		display: block;
	}

	.blocks-info {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 2.8125vw 0;

		html[dir="ltr"] &{
			padding-right: 7.2917vw;
		}

		html[dir="rtl"] &{
			padding-left: 7.2917vw;
		}

		@media screen and (min-width: 992px){
			.section-caption{
				.sc-title{
					font-size: 2.9167vw;
				}
			}
		}
	}
}