.middle-img-section {
	display: grid;
	grid-template-columns: 63.9583vw 34.5313vw;
	grid-gap: 0 2.0833vw;
	margin-bottom: 5.2083vw;
	min-height: 47.5521vw;

	.blocks-img{
		padding-top: 17.1875vw;
		position: relative;

		html[dir="ltr"] &{
			padding-left: 7.2917vw;
		}

		html[dir="rtl"] &{
			padding-right: 7.2917vw;
		}
	}

	.bg-picture{
		background: #000;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
			opacity: .6;
			// TODO: fix opacity
		}
	}

	.blocks-content {
		position: relative;
		z-index: 1;
		color: #fff;

		html[dir="ltr"] &{
			padding-right: 16.6667vw;
		}

		html[dir="rtl"] &{
			padding-left: 16.6667vw;
		}

		.title{
			@include h1;
			margin-bottom: 2.0833vw;

			@media screen and (max-width: 991px){
				margin-bottom: 24px;
			}
		}

		p{ 
			font-size: 1.6667vw;
			line-height: 1.5;
			font-weight: 500;

			@media screen and (max-width: 991px){
				font-size: 16px;
			}
		}
	}

	.text-btn{
		font-size: 1.6667vw;
		line-height: 1.5;
		font-weight: 500;
		position: relative;
		z-index: 1;
		color: $primary; 
		margin-top: 2.0833vw;
		display: flex;
		align-items: center;

		--btn-after-start-position: 4.7396vw;
		--btn-icon-size: 0.8333vw;
		--btn-icon-margin: 2.3438vw;

		&:after{
			content: '';
			display: block;
			width: 4.7396vw;
			height: 4.6354vw;
			background: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 91 89'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.06 87.88a1.5 1.5 0 01.04-2.12L87.94 1.81a1.5 1.5 0 112.09 2.16L3.18 87.92a1.5 1.5 0 01-2.12-.04z' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M59.25 2.39A1.5 1.5 0 0160.77.9l28.24.48c.83.02 1.49.7 1.48 1.53L90 31.16a1.5 1.5 0 11-3-.05l.45-26.74-26.74-.46a1.5 1.5 0 01-1.47-1.52z' fill='%23fff'/%3E%3C/svg%3E") no-repeat center center / contain;
			position: absolute;
			top: calc(100% + 1.8333vw);

			html[dir="ltr"] &{
				left: var(--btn-after-start-position);
			}

			html[dir="rtl"] &{
				right: var(--btn-after-start-position);
				transform: scaleX(-1);
			}
		}

		.btn-icon{
			width: var(--btn-icon-size);
			height: var(--btn-icon-size);
			fill: currentcolor;

			html[dir="ltr"] &{
				margin-left: var(--btn-icon-margin);
				margin-right: auto;
				margin-left: 15px;
			}

			html[dir="rtl"] &{
				margin-right: var(--btn-icon-margin);
				margin-left: auto;
				margin-right: 15px;
				transform: scaleX(-1);
			}
		}

		&:hover,
		&:focus{
			outline: none;
			color: $accent;
		}

		@media screen and (max-width: 991px){
			font-size: 16px;
			margin-top: 24px;

			--btn-after-start-position: 50px;
			--btn-icon-size: 16px;
			--btn-icon-margin: 32px;

			&:after{
				width: 50px;
				height: 50px;
				top: calc(100% + 12px);
			}
		}
	}

	.blocks-info {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 2.8125vw 0;

		html[dir="ltr"] &{
			padding-right: 7.2917vw;
		}

		html[dir="rtl"] &{
			padding-left: 7.2917vw;
		}

		@media screen and (min-width: 992px){
			.section-caption{
				.sc-title{
					font-size: 2.9167vw;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		min-height: unset;

		.blocks-img{
			padding: 120px 25px;

			html[dir="ltr"] &{
				padding-left: 50px;
			}

			html[dir="rtl"] &{
				padding-right: 50px;
			}
		}

		.blocks-content{
			max-width: 400px;

			html[dir="ltr"] &{
				padding-right: 0;
			}

			html[dir="rtl"] &{
				padding-left: 0;
			}
		}
	}

	@media screen and (max-width: 767px){
		grid-template-columns: 1fr;
		grid-gap: 10px;

		.blocks-img{
			padding: 120px 25px;

			html[dir="ltr"] &{
				padding-left: 25px;
			}

			html[dir="rtl"] &{
				padding-right: 25px;
			}
		}

		.blocks-info{
			padding: 30px 25px !important;
		}
	}
}