.middle-img-section-reverse {
    display: grid;  
    // grid-template-columns: 1228 663;
    // grid-gap: 0 26;
    grid-template-columns: 34.5313vw 63.9583vw;
    grid-gap: 0 1.3542vw;
    // margin-bottom: 5.2083vw;
    .blocks-img { 
        min-height: 47.5521vw; 
        padding-top: 17.2396vw;
        position: relative;
		html[dir="ltr"] &{
            padding-right: 7.2917vw;
		} 
		html[dir="rtl"] &{
            padding-left: 7.2917vw;
		}
        .bg-picture { 
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                object-fit: cover;
                object-position: center center;
            }
        }
        .blocks-content {
            position: relative;
            z-index: 1;
            color: #fff; 
            html[dir="ltr"] &{
                padding-left: 16.6667vw;
            } 
            html[dir="rtl"] &{
                padding-right: 16.6667vw;
            }
            .title{
                @include h1;
                margin-bottom: 2.0833vw;
            }
            p{ 
                font-size: 1.6667vw;
                line-height: 1.5;
                font-weight: 500;
            }
        }
        .btn-text {
            font-size: 1.6667vw;
            line-height: 1.5;
            font-weight: 500;
            position: relative;
            z-index: 1;
            color: #fff; 
            margin-top: 2.0833vw;
            display: block;
        }
        .play {
        }
        .arrow {
        }
    }
    .blocks-info { 
        display: flex;
        flex-direction: column; 
        padding-top: 9.3750vw;
        html[dir="ltr"] &{
            padding-left: 7.2917vw; 
        } 
        html[dir="rtl"] &{
            padding-right: 7.2917vw; 
        } 
    } 
    .section-caption {
        .sc-title {
        }
        .sc-subtitle {
            margin-top: 0;
        }
    }
    .block-footer{
        .text{
            display: block;
            @include p;
            margin-top: 1.0417vw;
            margin-bottom: 2.0833vw; 
            font-weight: 500;
        }
    }
    .form {
        margin-bottom: 2.6042vw;
        .form-label {
            color: $primary;
            @include h3;
            text-transform: initial;
            margin-bottom: 1.0417vw;
            font-weight: 700;
        }
        .select-field {
            @include p;
            select{
                padding-top: 0.5208vw;
                padding-bottom: 0.5208vw;
            }
        }
    }
	@media screen and (max-width: 991px){ 
        grid-template-columns: 34.5313vw 63.9583vw;
        grid-gap: 0 1.3542vw; 
        .blocks-img { 
            min-height: 47.5521vw; 
            padding-top: 17.2396vw; 
            html[dir="ltr"] &{
                padding-right: 7.2917vw;
            } 
            html[dir="rtl"] &{
                padding-left: 7.2917vw;
            } 
            .blocks-content {
                position: relative;
                z-index: 1;
                color: #fff; 
                html[dir="ltr"] &{
                    padding-left: 16.6667vw;
                } 
                html[dir="rtl"] &{
                    padding-right: 16.6667vw;
                }
                .title{
                    @include h1;
                    margin-bottom: 2.0833vw;
                }
                p{ 
                    font-size: 1.6667vw;
                    line-height: 1.5;
                    font-weight: 500;
                }
            }
            .btn-text {
                font-size: 1.6667vw;
                line-height: 1.5;
                font-weight: 500;
                position: relative;
                z-index: 1;
                color: #fff; 
                margin-top: 2.0833vw;
                display: block;
            }
            .play {
            }
            .arrow {
            }
        }
        .blocks-info { 
            display: flex;
            flex-direction: column; 
            padding-top: 9.3750vw;
            html[dir="ltr"] &{
                padding-left: 7.2917vw; 
            } 
            html[dir="rtl"] &{
                padding-right: 7.2917vw; 
            } 
        } 
        .section-caption {
            .sc-title {
            }
            .sc-subtitle {
                margin-top: 0;
            }
        }
        .block-footer{
            .text{
                display: block;
                @include p;
                margin-top: 1.0417vw;
                margin-bottom: 2.0833vw; 
                font-weight: 500;
            }
        }
        .form {
            margin-bottom: 2.6042vw;
            .form-label {
                color: $primary;
                @include h3;
                text-transform: initial;
                margin-bottom: 1.0417vw;
                font-weight: 700;
            }
            .select-field {
                @include p;
                select{
                    padding-top: 0.5208vw;
                    padding-bottom: 0.5208vw;
                }
            }
        }

    }
}