.middle-img-section {
    display: grid;  
    // grid-template-columns: 1228px 663px;
    // grid-gap: 0 26px;
    grid-template-columns: 63.9583vw 34.5313vw;
    grid-gap: 0 1.3542vw;
    margin-bottom: 100px;
    .blocks-img { 
        padding-left: 7.2917vw;
        min-height: 913px; 
        padding-top: 331px;
        position: relative;
        .bg-picture { 
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                object-fit: cover;
                object-position: center center;
            }
        }
        .blocks-content {
            position: relative;
            z-index: 1;
            color: #fff;
            padding-right: 320px;
            h2{
                font-size: 64px;
                line-height: 1;
                margin-bottom: 40px;
            }
            p{ 
                font-size: 32px;
                line-height: 1.5;
                font-weight: 500;
            }
        }
        .btn-text {
            font-size: 32px;
            line-height: 1.5;
            font-weight: 500;
            position: relative;
            z-index: 1;
            color: #fff; 
            margin-top: 40px;
            display: block;
        }
        .play {
        }
        .arrow {
        }
    }
    .blocks-info { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 7.2917vw; 
        .form {
        }
        .contact-form {
        }
        .form-field {
        }
        .input-field {
        }
        .form-col {
        }
        .form-label {
        }
        .form-textarea {
        }
        .textarea {
        }
        .form-submit {
        } 
    } 
}