.newsletter-section{
	background: #F8F8F8;
	padding: 5.2083vw 0 6.7708vw;

	.section-inner{
		display: grid;
		grid-template-columns: 1fr min-content;
		// TODO: fix gap
		grid-gap: 5.2083vw 24px;
	}

	.socials-component{
		justify-self: end;
	}

	.section-caption{
		margin-bottom: 0;
	}

	.block-text{
		font-weight: 300;
	}

	.newsletter-form{
		grid-column: 1 / -1;
	}

	.socials-component{
		grid-gap: 2.0833vw;

		p{
			font-weight: 400;
		}
	}

	@media screen and (max-width: 767px){
		padding: 30px 0 35px;

		.section-inner{
			grid-template-columns: 1fr;
			grid-gap: 30px;
		}

		.socials-component{
			order: 3;
		}
	}

	@media screen and (max-width: 575px){
		.newsletter-form{
			margin-bottom: -62px;

			.landing &{
				margin-bottom: 0;
			}
		}
	}
}

.newsletter-form{
	.form-inner{
		display: grid;
		grid-template-columns: 1fr 7.2917vw;
		grid-gap: 4.4792vw;
	}

	.form-fields{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 2.3438vw;
	}

	.btn{
		width: 100%;
	}

	@media screen and (max-width: 991px){
		.form-inner{
			grid-template-columns: 1fr 140px;
			grid-gap: 24px;
		}

		.form-fields{
			grid-gap: 24px;
		}
	}

	@media screen and (max-width: 767px){
		.form-inner{
			grid-template-columns: 1fr;
			grid-gap: 30px;
		}

		.form-fields{
			grid-gap: 30px;
		}
	}

	@media screen and (max-width: 575px){
		.form-fields{
			grid-template-columns: 1fr;
		}

		.btn{
			width: auto;
			min-width: 90px;
		}
	}
}