.press-room-section{
	padding-bottom: 2.3438vw;

	@media screen and (max-width: 991px){
		padding: 25px 0;
	}

	--breadcrumbs-color: #{ $text-color };
	--breadcrumbs-hover-color: #{ $primary };

	.container{
		position: relative;

		.breadcrumbs{
			position: absolute;
			top: 2.3958vw;

			@media screen and (max-width: 991px){
				top: 15px;
			}

			@media screen and (max-width: 575px){
				position: static;
				margin-bottom: 25px;
			}
		}
	}
}

.articles-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 3.8542vw 0.8333vw;

	@media screen and (max-width: 991px){
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 32px 8px;
	}

	@media screen and (max-width: 575px){
		grid-template-columns: 1fr;
	}
}

.article-card{
	.card-image{
		position: relative;
		display: block;
		overflow: hidden;
		
		&:before{
			content: '';
			display: block;
			padding-top: 138.4328%;
		}
		
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
			transition: all .5s;
		}

		&:hover,
		&:focus{
			img{
				transform: scale(1.07);
				opacity: .8;
			}
		}
	}

	.card-content{
		padding: 3.6458vw 0 1.5625vw;

		html[dir="ltr"] &{
			padding-right: 3.6458vw;
		}

		html[dir="rtl"] &{
			padding-left: 3.6458vw;
		}
	}

	.card-caption{
		font-size: 1.6667vw;
		font-weight: 500;
		color: $primary;
		// TODO: поправить отступ
		margin-bottom: 1.0417vw;

		a{
			color: inherit;

			&:hover,
			&:focus{
				color: $accent;
			}
		}
	}

	.card-footer{
		// TODO: поправить отступ
		margin-top: 1.5625vw;
	}

	@media screen and (min-width: 576px){
		.articles-grid &{
			&:first-child{
				grid-column: 1 / -1;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-gap: 0.8333vw;

				.card-content{
					padding-top: 3.6458vw;
					padding-bottom: 3.6458vw;
					display: flex;
					flex-direction: column;
					justify-content: center;

					html[dir="ltr"] &{
						padding-right: 5.7292vw;
					}

					html[dir="rtl"] &{
						padding-left: 5.7292vw;
					}

					@media screen and (max-width: 991px){
						padding-top: 50px;
						padding-bottom: 50px;
					}
				}

				.card-image{
					grid-column: span 2;
					order: 1;

					&:before{
						padding-top: 68.32%;
					}
				}

				@media screen and (max-width: 991px){
					grid-template-columns: 1fr 1fr;
					grid-gap: 8px;

					.card-image{
						grid-column: span 1;
					}
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		.card-caption{
			font-size: 22px;
			margin-bottom: 16px;
		}

		.card-footer{
			margin-top: 22px;
		}

		.card-content{
			padding: 32px 0 10px;

			html[dir="ltr"] &{
				padding-right: 20px;
			}

			html[dir="rtl"] &{
				padding-left: 20px;
			}
		}
	}

	@media screen and (max-width: 575px){
		.card-content{
			padding: 32px 0 10px !important;
		}
	}
}