.product-section { 
    padding-top: 5.2083vw;
    margin-bottom: 7.8125vw;
    .section-caption {
    } 
    .product-blocks { 
        margin-bottom: 1.5625vw;
        .product-img { 
            display: block;
            background-color: #ccc;
            &::before{
                content: "";
                display: block;
                padding-top: 18.2292vw;
            }
            img{
                width: 100%;
                height: auto;
                display: block; 
            }
        }
        .product-info {
            display: flex;
            justify-content: space-between;
            html[dir="ltr"] &{ 
                padding: 1.0417vw 0 1.0417vw 0.5208vw;
            }
            html[dir="rtl"] &{
                padding: 1.0417vw 0.5208vw 1.0417vw 0;
            }
            .buttons{
                display: inline-flex;
                align-items: center; 
                height: 2.2396vw; 
                padding: 0.3646vw 0.7813vw;
                font-size: 0.9375vw;
                line-height: 1;
                font-weight: 500;
                text-transform: uppercase;
                color: $primary;
                position: relative;
                &.border{
                    border: 0.0521vw solid $primary;
                    border-radius: 0.4167vw;
                }
                &::after{
                    content:"";
                    position: absolute;
                    width: 0.5729vw;
                    height: 0.7292vw;
                    background-color: #ccc;
                }
                html[dir="ltr"] &{
                    padding-right: 1.9625vw;
                    margin-left: 1.5625vw;
                    &::after{
                        right: 0.8854vw;
                    }
                } 
                html[dir="rtl"] &{
                    padding-left: 1.9625vw;
                    margin-right: 1.5625vw;
                    &::after{
                        left: 0.8854vw;
                    }
                } 
            }
        }
        .product-caption {
            @include p; 
            color: $primary;
        }
    }
}