.product-solutions-section{
	padding-bottom: 5.2083vw;

	@media screen and (max-width: 991px){
		padding-bottom: 60px;
	}
}

.product-solutions-slider{
	width: calc(100% + 0.5208vw * 2);
	margin-left: -0.5208vw;
	margin-right: -0.5208vw;
	
	.slide{
		padding: 0 0.5208vw;
	}

	@media screen and (max-width: 991px){
		width: calc(100% + 4px * 2);
		margin-left: -4px;
		margin-right: -4px;
		
		.slide{
			padding: 0 4px;
		}
	}
}

.product-solutions-block{
	position: relative;

	.block-back{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 1.0417vw;
		pointer-events: none;

		.back-image{
			position: relative;
			
			&:before{
				content: '';
				display: block;
				padding-top: 86.856%;
			}
			
			img{
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
				object-fit: cover;
				object-position: center center;
			}
		}
	}

	.block-front{
		width: 32.8125vw;
		height: 14.0625vw;
		background: #fff;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		padding: 1.5625vw;
	}

	.block-caption{
		@include h3;
		color: $primary;
		margin-bottom: 0.4167vw;
	}

	.block-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li{
			&:after{
				content: ' - ';
			}

			&:last-child{
				&:after{
					display: none;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		.block-back{
			grid-gap: 8px;
		}

		.block-front{
			width: 45vw;
			height: 18vw;
			padding: 3vw;
		}
	}

	@media screen and (max-width: 575px){
		.block-back{
			grid-template-columns: 1fr;

			.back-image:before{
				padding-top: 70%;
			}
		}

		.block-front{
			width: 80%;
			height: 120px;
		}
	}
}