.product-first-screen-section{
	position: relative;
	min-height: 56.2500vw;
	display: flex;
	flex-direction: column;

	.section-bg{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		pointer-events: none;
		background: #000;

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
			// opacity: .6;
		}
	}

	.section-top{
		position: relative;
		z-index: 2;
		flex: auto;
		display: flex;

		.container{
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		.breadcrumbs{
			position: absolute;
			top: 2.0833vw;

			html[dir="ltr"] &{
				left: 0;
			}

			html[dir="rtl"] &{
				right: 0;
			}
		}
	}

	.section-bottom{
		position: relative;
		z-index: 2;
		background: rgba(#fff, .9);
		padding: 1.5625vw 0 10.6771vw;
	}

	.page-nav{
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		width: calc(100% + 0.7813vw * 2);
		margin-left: -0.7813vw;
		margin-right: -0.7813vw;
		@include h3;
		text-transform: capitalize;
		font-weight: bold;
		color: $text-color;
		
		li{
			padding: 0 0.7813vw;

			a{
				color: inherit;
				display: flex;
				flex-direction: column;
				align-items: center;

				&:after{
					content: '';
					display: block;
					width: 1.4063vw;
					height: 0.8333vw;
					background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26.34 15.06'%3E%3Cpath data-name='Icon ionic-ios-arrow-down' d='M13.17 10.52L23.13.55a1.87 1.87 0 012.66 0 1.9 1.9 0 010 2.67L14.5 14.52a1.88 1.88 0 01-2.6.05L.55 3.23A1.88 1.88 0 013.2.56z' fill='%233c3b3b'/%3E%3C/svg%3E") no-repeat center center / contain;
					margin-top: 0.7813vw;
					transition: all $t;
				}

				&:hover,
				&:focus{
					color: $primary;

					&:after{
						transform: translateY(50%);
					}
				}
			}
		}
	}

	.play-btn{
		position: absolute;
		z-index: 3;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 4.2188vw;
		height: 4.2188vw;
		border-radius: 50%;
		display: block;

		&:after{
			content: '';
			display: block;
			width: 200%;
			height: 200%;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}

		.btn-icon{
			width: 100%;
			height: 100%;
			fill: #fff;
			transition: all $t;
			display: block;
		}

		&:hover,
		&:focus{
			outline: none;

			.btn-icon{
				fill: $primary;
			}
		}
	}

	@media screen and (max-width: 991px){
		.play-btn{
			position: relative;
			left: 0;
			top: 0;
			transform: none;
			width: 40px;
			height: 40px;
			margin-top: 20px;
		}
	}

	.section-caption{
		.sc-title{
			color: #fff;
		}

		.sc-subtitle{
			color: #fff;
			max-width: 32.8125vw;
			margin-bottom: 1.428em;

			&:last-child{
				margin-bottom: 0;
			}

			~ .sc-subtitle{
				margin-top: 0;
			}
		}
	}

	@media screen and (max-width: 991px){
		min-height: unset;

		.section-top{
			padding: 25px 0 80px;

			.breadcrumbs{
				position: static;
				margin-bottom: 50px;
			}
		}

		.section-caption{
			.sc-subtitle{
				max-width: 400px;
				margin-bottom: 24px;
			}
		}

		.section-bottom{
			display: none;
		}
	}
}