.product-info-section{
	padding-bottom: 2.8646vw;
	position: relative;
	z-index: 2;

	.section-inner{
		display: grid;
		--section-gap: 4.1667vw;
		grid-template-columns: repeat(2, calc(50% - var(--section-gap) / 2));
		grid-gap: var(--section-gap);
	}

	.section-text{
		margin-bottom: 2.0833vw;

		&:last-child{
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: 992px){
		margin-top: -5.7292vw;

		.section-caption{
			margin-bottom: 6.7708vw;
		}
	}

	@media screen and (max-width: 991px){
		padding-top: 50px;

		.section-text{
			margin-bottom: 20px;
		}
	}

	@media screen and (max-width: 767px){
		.section-inner{
			grid-template-columns: 100%;
			--section-gap: 50px;
		}
	}
}

.pests-grid{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.5208vw;

	@media screen and (max-width: 991px){
		grid-gap: 8px;
	}
}

.pests-slider{
	width: calc(100% + 0.4167vw * 2);
	margin-left: -0.4167vw;
	margin-right: -0.4167vw;

	--arrow-top: 42%;
	
	.slide{
		padding: 0 0.4167vw;
	}
	.slick-arrow{
		transform: translate(0,-200%);
		@media screen and (max-width: 991px){ 
			transform: translate(0,-150%); 
		}
		@media screen and (max-width: 767px){ 
			transform: translate(0,-70%);  
		}
		@media screen and (max-width: 419px){  
			transform: translate(0,-100%); 
		}
	}

	@media screen and (max-width: 991px){
		width: calc(100% + 4px * 2);
		margin-left: -4px;
		margin-right: -4px;
		
		.slide{
			padding: 0 4px;
		}
	}
	
	@media screen and (max-width: 419px){
		--arrow-top: 47%; 
	}
}

.pest-card{
	display: block;
	color: inherit;

	.card-image{
		position: relative;
		overflow: hidden;
		
		&:before{
			content: '';
			display: block;
			padding-top: 86.79%;
		}
		
		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			display: block;
			object-fit: cover;
			object-position: center center;
			transition: all .5s;
		}
	}

	.card-caption{
		text-align: center;
		margin-top: 1.3021vw;
		@include h4;
		font-size: 1.15vw;
		transition: all $t;
		@media screen and (max-width: 991px){
			@include h4; 
		}
	}

	&:hover,
	&:focus{
		.card-image{
			img{ 
				transform: scale(1.05);
				opacity: .8;
			}
		}

		.card-caption{
			color: $primary;
		}
	}
}