.split-screen-block{
	display: flex;
	height: calc(100vh - 8.5938vw);
	min-height: 600px;

	.block-content{
		width: 50%;
		flex: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 7.2917vw;
	}

	.block-image{
		position: relative;
		width: 50%;
		background: #eee;

		img{
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			object-fit: cover;
			object-position: center center;
		}
	}

	.block-footer{
		margin-top: 2.5000vw;
	}

	@media screen and (min-width: 576px){
		&:nth-child(odd){
			.block-content{
				html[dir="ltr"] &{
					padding-right: 4.1667vw;
				}

				html[dir="rtl"] &{
					padding-left: 4.1667vw;
				}
			}
		}

		&:nth-child(even){
			.block-content{
				order: 2;

				html[dir="ltr"] &{
					padding-left: 4.1667vw;
				}

				html[dir="rtl"] &{
					padding-right: 4.1667vw;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		height: auto;
		min-height: 400px;
	}

	@media screen and (max-width: 575px){
		flex-direction: column-reverse;
		height: auto;
		min-height: unset;

		.block-content{
			padding: 20px 25px 45px;
			width: 100%;
		}

		.block-footer{
			margin-top: 20px;
		}

		.block-image{
			position: relative;
			width: 100%;

			&:before{
				content: '';
				display: block;
				padding-top: 62.222%;
			}
		}

		.section-caption{
			.sc-subtitle{
				margin-top: 8px;
			}

			.tech-section &{
				margin-bottom: 5px;
			}
		}
	}
}