.stats-section{
	background: #E9F2F0;
	padding: 7.6042vw 0 6.9792vw;

	.stats-grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 2.6042vw;
	}

	@media screen and (max-width: 991px){
		padding: 80px 0;

		.stats-grid{
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 60px 30px;
		}
	}

	@media screen and (max-width: 575px){
		.stats-grid{
			grid-template-columns: 1fr;
		}
	}
}

.stat-card{
	.card-value{
		font-size: 4.6875vw;
		text-transform: uppercase;
		color: $primary;
		margin-bottom: 0.7813vw;
	}

	p{
		font-size: 1.6667vw;
		line-height: 1.25;
		font-weight: bold;
		color: $text-color;
	}

	@media screen and (max-width: 991px){
		.card-value{
			font-size: 64px;
			margin-bottom: 5px;
		}

		p{
			font-size: 20px;
		}
	}

	@media screen and (max-width: 767px){
		.card-value{
			font-size: 44px;
		}

		p{
			font-size: 18px;
		}
	}

	@media screen and (max-width: 575px){
		text-align: center;
	}
}