.stats-section{
	background: #E9F2F0;
	padding: 7.6042vw 0 6.9792vw;
	.stats-grid-title{
		color: $primary;
	    font-size: 2.3875vw;
	    font-weight: 500;
	    text-align: center;
	    margin-bottom: 40px;
	    font-family: "Roboto",Arial,sans-serif;
	}
	.stats-grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 2.6042vw;
		html[dir=rtl] &{
			text-align: center;
		}
	}

	@media screen and (max-width: 991px){
		padding: 80px 0;

		.stats-grid{
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 60px 30px;
		}
	}

	@media screen and (max-width: 575px){
		padding: 0;

		.stats-grid{
			grid-template-columns: 1fr;
			grid-gap: 0;
		}

		.container{
			padding: 0;
		}

		.stat-card{
			padding: 36px;

			&:nth-child(odd){
				background: #fff;
			}
		}
	}
}

.stat-card{
	.card-value{
		font-size: 4.6875vw;
		// text-transform: uppercase;
		color: $primary;
		margin-bottom: 0.7813vw;
		html[dir=rtl] &{
			text-align: center;
			font-family: "Roboto",Arial,sans-serif;
		}

	}

	small{ 
    	margin-left: -1.1em;
		font-size: 0.6em;
		html[dir=rtl] &{
			margin: 0;
		}

		&:empty{
			display: none;
		}
	}

	p{
		font-size: 1.6667vw;
		line-height: 1.25;
		font-weight: 500;
		color: $text-color;
	}

	@media screen and (max-width: 991px){
		.card-value{
			font-size: 64px;
			margin-bottom: 5px;
		}

		p{
			font-size: 20px;
		}
		small{  
			margin-left: 0;
			margin-right: -0.3em;
		}
	}

	@media screen and (max-width: 767px){
		.card-value{
			font-size: 44px;
		}

		p{
			font-size: 18px;
		}
	}

	@media screen and (max-width: 575px){
		text-align: center;

		.card-value{
			font-size: 36px;
		}
		small{  
			margin-left: -0.6em;
			margin-right: 0;
		}
	}
}