.steps-section{
	.slick-dots{
		position: absolute;
		bottom: 1.25vw !important;

		@media screen and (min-width: 576px){
			width: auto;

			html[dir="ltr"] &{
				left: 50%;
				transform: translateX(-50%);
				// transform: translateX(calc(-100% - 1.25vw));

				// @media screen and (max-width: 991px){
				// 	transform: translateX(calc(-100% - 16px));
				// }
			}

			html[dir="rtl"] &{
				right: 50%;
				transform: translateX(50%);
				// transform: translateX(calc(100% + 1.25vw));

				// @media screen and (max-width: 991px){
				// 	transform: translateX(calc(100% + 16px));
				// }
			}
		}

		@media screen and (max-width: 991px){
			bottom: 16px !important;
		}
	}
	.slick-slider{
		.slick-track{
			html[dir="rtl"] &{
				direction: rtl;
				.block-footer{
					direction: ltr;
					.block-previews{
						justify-content: end;
					}
				}
			}
		}
	}

	.section-caption{
		.sc-title{
			position: relative;

			.step-number{
				position: absolute;
				font-size: 6.2500vw;
				font-weight: 500;
				bottom: 0;
				line-height: 0.95;

				html[dir="ltr"] &{
					right: calc(100% + 0.5208vw);

					@media screen and (max-width: 991px){
						right: calc(100% + 6px);
					}
				}

				html[dir="rtl"] &{
					left: calc(100% + 0.5208vw);

					@media screen and (max-width: 991px){
						left: calc(100% + 6px);
					}
				}

				@media screen and (max-width: 991px){
					font-size: inherit;
					line-height: inherit;
				}
			}
		}
	}

	.split-screen-block{
		height: 100%;

		@media screen and (max-width: 575px){
			.block-content{
				padding-left: 40px;
				padding-right: 40px;
			}
		}
	}
}