.tabs-section {
    padding-top: 5.2083vw;
    .section-caption {
        margin-bottom: 4.1667vw;
    }
    .tabs-wrapper {
        padding: 1em 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4.1667vw;
        ul.tabs-nav {
            list-style: none; 
            display: block;
            li {
                display: block;
                margin: 0;
                position: relative;
                &.slick-current {
                    .tab-btn{ 
                        color: $primary;
                        &:after {
                            border-color: $accent;
                        }
                    }
                }
                a,
                .tab-btn {
                    // display: block;
                    display: flex;
                    align-items: baseline;
                    width: 100%;
                    @include h3;
                    margin-bottom: 2.6042vw;
                    padding-top: 1.0417vw;
                    padding-bottom: 1.0417vw;
                    font-weight: 500;
                    position: relative;
                    color: $gray;
                    text-transform: initial;
                    transition: all ease 0.35s;
                    cursor: pointer;
                    text-align: start;
                    &:focus {
                        outline: none;
                    }
                    &:hover,
                    &.current {
                        color: $primary;
                        &:after {
                            border-color: $accent;
                        }
                    }
                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        transition: all ease 0.35s;
                    }
                    &:before {
                        bottom: 0;
                        width: 100%;
                        height: 1px;
                        background-color: $gray;
                        html[dir="ltr"] & {
                            left: 0;
                        }
                        html[dir="rtl"] & {
                            right: 0;
                        }
                    }
                    &:after {
                        border: solid $gray;
                        border-width: 0 0.1042vw 0.1042vw 0;
                        display: inline-block;
                        padding: 0.4167vw;
                        position: relative;
                        html[dir="ltr"] & {
                            margin-left: auto;
                            right: 1.0417vw;
                            transform: rotate( -45deg);
                        }
                        html[dir="rtl"] & {
                            margin-right: auto;
                            left: 1.0417vw;
                            transform: rotate(135deg);
                        }
                    }
                    strong {
                        @include h2;
                        html[dir="ltr"] & {
                            margin-right: 0.2604vw;
                        }
                        html[dir="rtl"] & {
                            margin-left: 0.2604vw;
                        }
                    }
                    sup {
                        @include h3;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        .section-caption{
            margin-bottom: 20px;
        }  
        .tabs-wrapper{
            grid-gap: 24px;
            grid-template-columns: 2fr 3fr;
            ul.tabs-nav{ 
                li{
                    .tab-btn{
                        flex-wrap: wrap;
                        margin-bottom: 10px;
                        // padding-top: 10px;
                        // padding-bottom: 10px;
                        padding: 10px 30px;
                        strong{ 
                            display: block;
                            width: 100%;
                            html[dir="ltr"] & {
                                margin-right: 5px;
                            }
                            html[dir="rtl"] & {
                                margin-left: 5px;
                            }
                        }
                        &:after { 
                            // content: initial;
                            border-width: 0 1px 1px 0; 
                            padding: 4px;
                            position: relative;
                            display: none !important;
                            html[dir="ltr"] & { 
                                right: 10px; 
                            }
                            html[dir="rtl"] & {  
                                left: 10px; 
                            }
                        }
                    } 
                } 
            } 
        } 
    }
    @media screen and (max-width: 567px) {
        .tabs-wrapper{ 
            display: block;
        }
        .tabs-wrapper{ 
            .tabs-nav-wrapper{
                width: 100%;
                // overflow-x: auto;
                margin-bottom: 20px;
            }
            ul.tabs-nav{ 
                // display: grid; 
                // grid-template-columns: repeat(3, 60.1739vw);
                // grid-gap: 30px;
                // width: 513px;
                li{
                    .tab-btn{ 
                        strong{  
                            html[dir="ltr"] & {
                                margin-right: 0;
                            }
                            html[dir="rtl"] & {
                                margin-left: 0;
                            }
                        } 
                    } 
                } 
            } 
        } 
    }
}