.the-solution-section{
	padding: 2.0833vw 0 6.7708vw;
}

.product-card{
	background: #EFEFEF;
	padding-bottom: 1.5625vw;
	display: flex;
	flex-direction: column;

	.card-image{
		margin-bottom: 2.0833vw;
		overflow: hidden;

		img{
			display: block;
			max-width: 100%;
			height: auto;
			transition: all $t;
			object-fit: cover;
			object-position: center center;
		}
	}

	.card-content{
		flex: auto;
		padding: 0 4.1667vw;
	}

	.card-footer{
		margin-top: 1.2500vw;
		padding: 0 4.1667vw;
	}

	.card-caption{
		@include h3;
		color: $primary;
		text-transform: uppercase;
		transition: all $t;

		strong{
			text-transform: none;
			display: block;
			@include h2;
		}
	}

	&:hover,
	&:focus{
		.card-image{
			img{
				transform: scale(1.05);
				opacity: .8;
			}
		}

		.card-caption{
			color: $accent;
		}
	}

	@media screen and (max-width: 767px){
		padding-bottom: 20px;

		.card-image{
			margin-bottom: 20px;
		}

		.card-content{
			padding: 0 20px;
		}

		.card-footer{
			padding: 0 20px;
			margin-top: 10px;
		}
	}
}