.why-we-section{
	padding: 4.6875vw 0;
	background-repeat: no-repeat;
	background-position: left bottom;
	background-size: auto 35.7813vw;

	.section-caption{
		max-width: 63.5417vw;
		margin-bottom: 7.2917vw;
	}

	@media screen and (max-width: 991px){
		padding: 50px 0;
		background-size: auto 370px;

		.section-caption{
			max-width: unset;
			margin-bottom: 50px;
		}
	}

	@media screen and (max-width: 575px){
		.section-caption{
			.sc-subtitle{
				font-size: 16px;
			}
		}
	}
}

.features-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 6.7708vw 2.0833vw;

	@media screen and (max-width: 991px){
		grid-gap: 24px;
	}

	@media screen and (max-width: 767px){
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 48px 24px;
	}

	@media screen and (max-width: 575px){
		grid-template-columns: 1fr;
	}
}

.feature-card{
	display: grid;
	grid-template-columns: 4.4792vw 1fr;
	grid-gap: 1.5625vw;

	.card-content{
		padding-top: 1.0417vw;
		font-weight: 300;
	}

	.card-caption{
		@include p;
		color: $text-dark;
		font-weight: bold;
	}

	.card-icon{
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	@media screen and (max-width: 991px){
		display: flex;
		flex-direction: column;
		grid-gap: 0;

		.card-icon{
			margin-bottom: 12px;
			width: 48px;
		}
	}

	@media screen and (max-width: 575px){
		align-items: center;
		text-align: center;

		p{
			max-width: 280px;
		}
	}
}