.why-we-section{
	padding: 5.7292vw 0;
	// TODO: fix padding
	// TODO: add bg

	.section-caption{
		max-width: 63.5417vw;
	}

	@media screen and (max-width: 991px){
		padding: 50px 0;

		.section-caption{
			max-width: unset;
			margin-bottom: 50px;
		}
	}
}

.features-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	// TODO: fix gap
	grid-gap: 5.2083vw 2.0833vw;

	@media screen and (max-width: 991px){
		grid-gap: 24px;
	}
}

.feature-card{
	display: grid;
	grid-template-columns: 4.4792vw 1fr;
	grid-gap: 1.5625vw;

	.card-content{
		// TODO: fix padding
		padding-top: 1.0417vw;
		font-weight: 300;
	}

	.card-caption{
		@include p;
		color: $text-dark;
		font-weight: bold;
	}

	.card-icon{
		// TODO: remove bg
		background: #eee;
		img{
			display: block;
			max-width: 100%;
			height: auto;
		}
	}

	@media screen and (max-width: 991px){
		display: flex;
		flex-direction: column;
		grid-gap: 0;

		.card-icon{
			margin-bottom: 12px;
			width: 48px;
			height: 48px; // TODO: remove height
		}
	}
}