.header{
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	background: #F8F8F8;
	transition: box-shadow $t, transform $t;

	.home &{
		background: #fff;
	}

	.header-inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: calc(100% + 0.7813vw * 2);
		margin-left: -0.7813vw;
		margin-right: -0.7813vw;
		
		.header-block{
			padding: 0 0.7813vw;
		}
	}

	.header-row{
		&.first{
			padding: 0.8333vw 0;
			background: #646464;
			position: relative;
			z-index: 5;
		}

		&.second{
			padding: 1.3021vw 0;
			min-height: 5.2083vw;
			display: flex;
			align-items: center;
		}
	}

	&.sticky{
		box-shadow: 0 0 1px rgba(#000, .3);

		@media screen and (min-width: 992px){
			transform: translateY(-3.4024vw);
		}
	}

	.mobile-header-right{
		display: none;
	}

	@media screen and (max-width: 991px){
		.header-row{
			&.first{
				padding: 8px 0;
			}

			&.second{
				padding: 12px 0;
				min-height: unset;
			}
		}
	}

	@media screen and (min-width: 768px) and (max-width: 991px){
		&.sticky{
			transform: translateY(-40px);
		}
	}

	@media screen and (max-width: 767px){
		.header-row{
			&.first{
				display: none;
			}

			&.second{
				padding: 20px 0;
			}
		}

		.mobile-header-right{
			display: grid;
			grid-template-columns: 1fr min-content;
			grid-gap: 16px;
			white-space: nowrap;
		}
	}
}

.logo-block{
	display: block;

	img{
		height: 2.8646vw;
		width: auto;
		display: block;

		@media screen and (max-width: 991px){
			height: 30px;
		}

		@media screen and (max-width: 767px){
			height: 28px;
		}
	}
}

.top-nav,
.top-nav > nav.wp-megamenu-wrap > .wpmm-nav-wrap{
	> ul{
		font-size: 1.2500vw;
		line-height: 1.33;
		font-weight: bold;
		display: flex;

		> li{
			&:after{
				content: '|';
				color: $primary;
			}

			&:last-child,
			&.last{
				&:after{
					display: none;
				}

				html[dir="ltr"] &{
					> a{
						padding-right: 0;
					}
				}

				html[dir="rtl"] &{
					> a{
						padding-left: 0;
					}
				}
			}

			> a{
				padding: 0 1.5625vw;
				color: $text-color;

				b{
					display: none !important;
				}

				&:hover,
				&:focus{
					color: $primary;
				}
			}

			> .wpmm-strees-row-container{
				position: absolute;
				left: 0;
				top: 100%;
				background: #f8f8f8;
				width: 100%;

				&:before{
					content: '';
					display: block;
					width: 100%;
					height: 2.22vw;
					position: absolute;
					left: 0;
					bottom: 100%;
					display: none;
				}

				> .wp-megamenu-sub-menu{
					position: static !important;
					padding: 1.5625vw 6.2vw 3.6458vw !important;

					> li > .wp-megamenu-sub-menu{
						> li{
							padding: 0 0.4167vw !important;
							width: 14.3750vw !important;

							&:first-child{
								padding: 0 !important;
								width: 14.3750vw !important;
							}

							> .wp-megamenu-sub-menu{
								> li:nth-child(odd){
									a{
										position: relative;
										text-transform: none;
										overflow: hidden;
										
										&:before{
											content: '';
											display: block;
											padding-top: 63.0769%;
										}
										
										img{
											width: 100%;
											height: 100%;
											position: absolute;
											left: 0;
											top: 0;
											display: block;
											object-fit: cover;
											object-position: center center;
											transition: all $t;
										}

										&:hover,
										&:focus{
											img{
												transform: scale(1.04);
											}
										}
									}
								}

								> li:nth-child(even) a{
									font-size: 1.0417vw;
									color: #3C3B3B;
									line-height: 1.1;
									font-weight: 300;
									text-transform: none;

									strong{
										font-weight: 500;
									}

									&:hover,
									&:focus{
										color: $primary;
									}
								}
							}
						}
					}
				}
			}

			&.tree-protection{
				> .wpmm-strees-row-container{
					> .wp-megamenu-sub-menu{
						> li > .wp-megamenu-sub-menu{
							> li{
								> .wp-megamenu-sub-menu{
									> li:nth-child(even) a{
										font-weight: 500 !important;
										text-align: center !important;
										margin-bottom: 2.1354vw;
									}
								}
							}
						}
					}
				}
			}

			&:hover,
			&:focus-within{
				> .wpmm-strees-row-container:before{
					display: block;
				}
			}

			&.current-menu-item,
			&.current-menu-parent{
				> a{
					color: $primary;
				}
			}
			
			&.current-menu-item{
				> a{
					cursor: default;
				}
			}
		}
	}

	@media screen and (max-width: 991px){
		grid-gap: 10px;

		> ul{
			font-size: 14px;

			> li{
				> a{
					padding: 0 10px;
				}
			}
		}
	}
}

.language-select{
	position: relative;
	font-size: 1.2500vw;
	line-height: 1.33;
	font-weight: bold;
	text-transform: uppercase;

	.select-opener{
		display: grid;
		grid-template-columns: 1fr min-content;
		grid-gap: 0.6250vw;
		font-size: inherit;
		font-weight: inherit;
		transition: all $t;
		align-items: center;
		color: inherit;

		&:after{
			content: '';
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0.4167vw 0.4167vw 0 0.4167vw;
			border-color: currentColor transparent transparent transparent;
		}

		&:hover,
		&:focus{
			color: $primary;
		}
	}

	.languages-list{
		transition: all $t;
		transform: translateY(1.5625vw);
		opacity: 0;
		visibility: hidden;
		position: absolute;
		width: calc(100% + 0.8333vw * 2);
		left: -0.8333vw;
		top: calc(100% + 0.4167vw);
		padding: 0.8333vw;
		background: #fff;
		border-radius: 0.3125vw;
		box-shadow: 0 0 0.2083vw rgba(#000, .3);
		text-align: center;
		color: $text-color;

		&:before{
			content: '';
			display: block;
			width: 100%;
			height: 0.5208vw;
			left: 0;
			top: -0.4688vw;
			position: absolute;
		}

		li{
			margin-bottom: 0.4167vw;

			&:last-child{
				margin-bottom: 0;
			}
		}

		a{
			color: inherit;

			&:hover,
			&:focus{
				color: $primary;
			}
		}
	}

	&:hover,
	&:focus-within{
		.languages-list{
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}

	@media screen and (max-width: 991px){
		font-size: 14px;

		.select-opener{
			grid-gap: 8px;

			&:after{
				border-width: 4px 4px 0 4px;
			}
		}

		.languages-list{
			width: calc(100% + 10px * 2);
			top: calc(100% + 10px);
			padding: 10px;
			border-radius: 3px;
			box-shadow: 0 0 3px rgba(#000, .3);
			position: absolute;
			left: 50%;
			transform: translateX(-50%) translateY(20px);
		}

		&:hover,
		&:focus-within{
			.languages-list{
				transform: translateX(-50%) translateY(0);
			}
		}
	}

	@media screen and (max-width: 767px){
		font-size: 18px;

		.select-opener{
			color: $primary;
		}
	}
}

.contacts-and-language-block{
	display: flex;
	align-items: center;
}

.show-contacts-block{
	display: flex;
	align-items: center;
	position: relative;

	&:after{
		content: ' | ';
		color: $primary;
		font-size: 18px;
		font-weight: bold;
		display: block;
	}

	.socials-component{
		grid-template-columns: 1fr;
	}

	.block-opener{
		font-weight: bold;
		color: $primary;
		font-size: 18px;
	}

	.block-content{
		position: absolute;
		transition: all $t;
		opacity: 0;
		visibility: hidden;
		top: calc(100% + 10px);
		padding: 10px;
		background: #fff;
		border-radius: 3px;
		box-shadow: 0 0 3px rgba(#000, .3);
		text-align: center;
		left: 50%;
		transform: translateX(-50%) translateY(20px);
	}

	&:hover,
	&:focus-within{
		.block-content{
			transform: translateX(-50%) translateY(0);
			opacity: 1;
			visibility: visible;
		}
	}
}

.mobile-top-nav{
	position: absolute;
	left: 0;
	top: 100%;
	height: calc(100vh - 68px);
	width: 100%;
	padding: 30px 50px;
	background: #F8F8F8;
	overflow-y: auto;
	overscroll-behavior-y: contain;
	transform: translateY(30px);
	opacity: 0;
	visibility: hidden;
	transition: all $t;

	> ul{
		font-size: 18px;
		line-height: 1.4;
		margin-bottom: 30px;
		font-weight: bold;

		a{
			color: inherit;
		}

		> li{
			margin-bottom: 25px;

			&:last-child{
				margin-bottom: 0;
			}
		}
	}

	.socials-list{
		li{
			html[dir="ltr"] &{
				margin-right: 16px;
			}

			html[dir="rtl"] &{
				margin-left: 16px;
			}
		}
	}

	&.opened{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}

.header{
	align-items: center;

	.lang-select{
		display: block !important;
	}

	@media screen and (min-width: 992px){
		.menu-main-container{
			position: static !important;
			transform: translateX(0) !important;

			.lang-select{
				display: none !important;
			}
		}
	}

	@media screen and (max-width: 991px){
		> .lang-select{
			display: none !important;
		}

		.menu-main-container{
			.lang-select{
				margin-top: 5vw;
				width: 15vw;
				height: 7.5vw;
				float: none;

				.lang-select-wrap{
					font-size: 3.35vw;
					border-width: 1px;
				}

				.current-lang{
					padding: 1.9vw 3vw;

					&:after{
						width: 1.56vw;
						height: 2.49vw;
						right: 2.49vw;
						top: 2.67vw;

						html[dir="rtl"] &{
							right: auto;
							left: 2.49vw;
						}
					}
				}

				.lang-item{
					padding: 1.9vw 3vw;
				}
			}
		}
	}
}